/***
@title: aDynAdmin Default Style
@author: Andreas Lagerkvist
@date: 2009-11-03 23:30:00
***/
$body-bg-color {
	color: #1371ff !important;
}

body {
	background-color: #1371ff;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #07439d, #1371ff);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1371ff), color-stop(1, #07439d));

	margin: 0;
	padding: 0;

	font: 16px/1.4 Arial, sans-serif;
	color: #111;
}

h1, h2, h3, h4, h5, h6 {
	font: bold 24px/1.2 Helvetica, Arial, serif;
	letter-spacing: -1px;
	margin: 10px 0 0;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

p {
	margin: 0 0 10px;
}

ul, ol {
	margin: 0 0 10px 30px;
	padding: 0;
}

a = $underlined;

a {
	color: #369;
}

	a img {
		border: 0;
	}

#wrapper = $self-clear;
#wrapper {
	padding: 0 0 50px;
}

#primary-content {
	background-color: #f2f2f2;

	float: left;
	position: relative;

	width: 87%;

	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

	#primary-content > div {
		padding: 20px;
	}
