body {
	background: url(gfx/brushed-metal.png);
}

#wrapper {
	background: url(gfx/top-light.png) no-repeat left top;
}

#tertiary-content {
	background: #222 url(gfx/bottom-shadow.gif) repeat-x;
	border-color: #020202;
}

#footer {
	background: #222;
}

$glass-box {
	background: url(gfx/glass-box.png) no-repeat -10px -10px;
	padding: 15px;
}

	$glass-box textarea.markItUpEditor {
		width: 217px !important;
	}
