/***
@title: aFramework Clean Style
@author: Andreas Lagerkvist
@author-url: http://andreaslagerkvist.com
@date: 2010-01-01
***/
body {
	background: #bbb url(gfx/body-bg.gif);

	margin: 0;
	padding: 0;

	font: 100%/1.4 Arial, sans-serif;
	color: #fff;

	border-top: 5px solid #444;
}

h1, h2, h3, h4, h5, h6 {
	font: bold 200%/1.2 Helvetica, Arial, serif;
	letter-spacing: -2px;
	margin: 10px 0 0;
	-moz-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: #fff;
		text-decoration: none;
	}

	h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
		text-decoration: underline;
	}

h2 {
	font-size: 180%;
}

h3 {
	font-size: 160%;
}

h4 {
	font-size: 160%;
}

h5 {
	font-size: 140%;
}

h6 {
	font-size: 120%;
}

p {
	margin: 0 0 10px;
}

ul, ol {
	margin: 0 0 10px 30px;
	padding: 0;
}

a = $underlined;

a {
	color: #fff;
}

#wrapper {
	background: url(gfx/top-light.png) no-repeat left top;
	position: relative;
	width: 960px;
	margin: 0 auto;
}

	#primary-content {
		width: 600px;
		padding: 20px 0;
		float: left;
	}

	#secondary-content {
		width: 300px;
		padding: 20px 0;
		float: right;
	}

	#secondary-content + * {
		clear: both;
	}

	#tertiary-content = $self-clear;
	#tertiary-content {
		background: #464646 url(gfx/bottom-shadow.gif) repeat-x;
		padding: 20px 0;
		border-top: 5px solid rgba(170, 170, 170, .5);
	}

		#tertiary-content h2 {
			margin-top: 0;
		}

		#tertiary-content > div {
			width: 300px;
			float: left;
		}

		#tertiary-content > div:first-child + div {
			margin: 0 30px;
		}
