#cto {

}

	#cto ul = $self-clear;
	#cto ul {
		margin: 0 -20px 0 0;
		list-style: none;
	}

		#cto ul li {
			background: #fefefe;
			float: left;
			position: relative;
			width: 98px;
			margin: 0 20px 0 0;
			padding: 20px 20px 20px 80px;
			border: 1px solid #999;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			-o-border-radius: 4px;
			border-radius: 4px;
			-moz-box-shadow: 1px 1px 2px rgba(40, 40, 40, .3);
			-webkit-box-shadow: 1px 1px 2px rgba(40, 40, 40, .3);
			box-shadow: 1px 1px 2px rgba(40, 40, 40, .3);
		}
		
		body.js-enabled #cto ul li {
			cursor: pointer;
		}
		
		body.js-enabled #cto ul li:hover {
			background: #fff;
			border-color: #666;
		}
		
			#cto ul li h2 {
				font: bold 18px/1.2 Arial, sans-serif;
				margin: 0 0 5px;
			}

				#cto ul li h2 a {
					text-decoration: none;
				}
		
				body.js-enabled #cto ul li:hover a {
					color: #06c;
				}

					#cto ul li h2 a strong {
						color: #06c;
					}
			
			#cto ul li p = $small;
			#cto ul li p {
				margin: 0;
				color: #999;
			}
			
				#cto ul li p img {
					position: absolute;
					left: 5px;
					top: 12px;
				}