#quick-about {
}
	
	#quick-about h2 + p = $first-p;
	
	#quick-about img {
		float: right;
		margin: 0 0 0 30px;
	}
	
	#quick-about > ul:last-child = $self-clear;
	#quick-about > ul:last-child {
		margin: 30px -20px 0 0;
		list-style: none;
	}
		
		#quick-about > ul:last-child li = $cta-box;
		#quick-about > ul:last-child li {
			float: left;
			width: 98px;
			margin: 0 20px 0 0;
		}
		
		body.js-enabled #quick-about > ul:last-child li {
			cursor: pointer;
		}