#header {
	background: url(gfx/header.png) no-repeat left bottom;
	width: 595px;
	margin: 0 0 -2px -1px;
}

	#header h1 {
		background: url(gfx/logo2.png) no-repeat;

		width: 330px;
		margin: 0 0 0 -20px;

		text-indent: -10000px;
		font-size: 1px;
	}

		#header h1 a {
			display: block;
			height: 90px;
			outline: 0;
		}

	#header p = $a11y-hide;