#quick-about {

}

	#quick-about h2 {
		background: #000063;
		color: #f7f7f9;
		font: bold italic 16px Georgia, serif;
		padding: 2px 0 2px 5px;
		margin-right: 180px;
	}

	#quick-about p strong {
		color: #ba4600;
		font: italic bold 20px Georgia, serif;	
	}

	#quick-about p img {
		float: right;
		margin: 0 0 5px 5px;
		width: 70px;
	}