#articles-by-date {
	
}

	#articles-by-date h2 + p = $first-p;

	#articles-by-date > ul = $plain-list;
	#articles-by-date > ul {
		margin: 30px 0 0;
	}

		#articles-by-date > ul > li {
			margin: 0 0 20px;
		}

			#articles-by-date > ul > li h3 {
				margin: 10px 0 0;
			}

				#articles-by-date > ul > li h3 a = $icon;
				#articles-by-date > ul > li h3 a {
					background-image: url(gfx/icons/red.png);
					background-position: right -1865px;
					display: block;
					outline: 0;
					padding: 0 25px 10px 0;
					border-bottom: 1px dotted #333;
				}

			#articles-by-date > ul > li > ul = $plain-list;
			#articles-by-date > ul > li > ul {
				padding: 5px 10px;
			}

			#articles-by-date > ul > li > ul = $floated-list;
			#articles-by-date > ul > li > ul {
				background: #030303;

				border: 1px solid #000;
				border-color: #000 #444 #444 #000;
			}

			body.js-enabled #articles-by-date > ul > li > ul {
				display: none;
			}

				#articles-by-date > ul > li > ul > li {
					width: 290px;
					clear: left;
				}

				#articles-by-date > ul > li > ul > li:first-child + li, 
				#articles-by-date > ul > li > ul > li:first-child + li + li + li, 
				#articles-by-date > ul > li > ul > li:first-child + li + li + li + li + li, 
				#articles-by-date > ul > li > ul > li:first-child + li + li + li + li + li + li + li, 
				#articles-by-date > ul > li > ul > li:first-child + li + li + li + li + li + li + li + li + li {
					float: right;
					clear: none;
				}

					#articles-by-date ul li ul li p img {
						display: none;
					}

						#articles-by-date ul li ul li p:last-child a = $icon;
						#articles-by-date ul li ul li p:last-child a {
							background-image: url(gfx/icons/yellow.png);
							background-position: left -3587px;
						}
