#recent-comments {

}

	#recent-comments > ul > li a:after, 
	#recent-comments > ul > li a:before, 
	#recent-comments > ul > li:after, 
	#recent-comments > ul > li:before {
		content: "" !important; /* override default style for this module */
	}

		#recent-comments ol li h3 = $base-font;
		#recent-comments ol li h3 {
			font-size: inherit;
			font-weight: bold;
			margin: 0;
		}

			#recent-comments ol li h3 a = $link-font;

		#recent-comments > ul li a = $icon;

		#recent-comments > ul li:first-child a {
			background-image: url(gfx/icons/green.png);
			background-position: left -3533px;
		}

		#recent-comments > ul li:last-child a {
			background-image: url(gfx/icons/green.png);
			background-position: right -3587px;
			padding-left: 0;
			padding-right: 30px;
		}

		#recent-comments ol li img {
			border-color: #fff;
		}

		#recent-comments ol li ul.jquery-code-block-toolbar {
			display: none;
		}
