#aframework-wrapper {
	margin: 0 -15px;
}

	#aframework-wrapper > div {
		width: 300px;
		float: left;
		padding: 15px;
	}

		#aframework-wrapper > div h2 {
			margin-top: 0;
		}

		#aframework-wrapper > div > ul, 
		#aframework-wrapper > div > ol {
			margin: 0;
			list-style: none;
		}

			#aframework-wrapper h3, 
			#aframework-wrapper h3 {
				font: 16px/1.2 Arial;
				color: #666;
				display: block;
			}

			#aframework-wrapper h3.ui-accordion-header {
				padding: 10px 0 10px 30px;
			}

			#aframework-wrapper div.ui-accordion-content {
				font: 13px/1.2 Arial, sans-serif;
				color: #666;
				height: 150px;
				padding: 3px 15px 5px 30px;
			}

				#aframework-wrapper div.ui-accordion-content > *:last-child {
					margin-bottom: 0;
				}
