/***
@title: aFramework.Com
@author: Andreas Lagerkvist
@author-url: http://andreaslagerkvist.com
@date: 2009-12-21
@description: The style used on aFramework's official site.
***/
body {
	background: #fff;

	margin: 0;
	padding: 0;

	font: 13px/1.2 Arial, sans-serif;
	color: #666;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	margin: 10px 0 5px;

	font: italic 28px/1.2 Georgia, serif;
	color: #999;
}

h2 {
	font-size: 32px;

	-webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 14px;
}

p {
	margin: 0 0 10px;
	line-height: 1.4;
}

ul, 
ol {
	margin: 0 0 10px 30px;
	padding: 0;
}

form {
	margin: 0;
	padding: 0;
}

label {
	cursor: pointer;
}

input, 
select {
	vertical-align: middle;
}

input[type="text"], 
textarea, 
input[type="password"] {
	background: #fdfdfd url(gfx/input-bg.gif) repeat-x;

	margin: 5px 0 0 0;
	padding: 10px;
	max-height: 400px;

	color: #333;

	border: 1px solid #fff;
}

input[type="text"]:focus, 
textarea:focus, 
input[type="password"]:focus {
	border-color: #06c;
}

input[type="submit"] {
	cursor: pointer;
	text-transform: uppercase;
}

a = $underlined;

a {
	color: #06c;
}

a:visited {
	color: purple;
}

	a img {
		border: 0;
	}

img {
	vertical-align: middle;
}

small {
	font-size: 11px;
	color: #999;
}

input.default-value {
	color: #666;
	font-style: italic;
}
