<IfModule mod_rewrite.c>
	#  Start ModRewrite
	RewriteEngine On
	RewriteBase /

	# Prevent www-access (you should change the yourdomain-bit)
	RewriteCond %{HTTP_HOST} ^www\.yourdomain\.com$ [NC]
	RewriteRule ^(.*)$ http://yourdomain\.com/$1 [R=301,L]

	# Run form-validation requests through /mod/FormValidation/
	RewriteRule ^mod/FormValidator/ /__core/Lib/AjaxFormValidator.php?%{QUERY_STRING} [L]

	# Run /mod/ModuleName/ as single modules (commonly fetched with XHR)
	RewriteRule ^mod/(.*)/ /index.php?mod=$1&%{QUERY_STRING} [L]

	# Run images suffixed wiv _small through Thumb-generator
	RewriteRule ^(.*)_small\.(jp(e)?g|png|gif)$ /__core/Lib/Thumb.php?f=$1.$2&%{QUERY_STRING} [L,NC]
	
	# Run 'all' CSS and JS-files through compressor
	RewriteRule ^__js/all\.js /__core/Lib/JSCompressor.php [L]
	RewriteRule ^__styles/(.*)/all\.css /__core/Lib/CSSCompressor.php?current_style=$1 [L]

	# Run everything else but real files through index.php
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule .* /index.php?%{QUERY_STRING} [L]
</IfModule>

# These are for performance and they increase speed a fookin lot (try yslow wiv and wivout)
<IfModule mod_expires.c>
	# Enable expirations
	ExpiresActive On

	# Sets the Expires date 3 days out from the time of the request
	ExpiresDefault "access plus 3 days"
</IfModule>

<IfModule mod_deflate.c>
	# Gzip html, css and js
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>