/***
@title: aFramework Grunge Style
@author: Andreas Lagerkvist
@author-url: http://andreaslagerkvist.com
@date: 2010-01-01
@extends: clean
***/
body::before {
	content: "Under Construction";
	display: block;
	text-align: center;
	font-size: 400%;
	font-weight: bold;
	text-transform: uppercase;
}
