body.admin #page {
	
}

	body.admin #page form {
		
	}

		body.admin #page form p {
			
		}

			body.admin #page form p label {
				
			}

				body.admin #page form p label input[type=text] {
					
				}

				body.admin #page form p label textarea {
					width: 90%;
				}

				/* Title */
				body.admin #page form p label input[name=title] {
					width: 90%;
					font-size: 180%;
				}

		/* Slug and Pub-date */
		body.admin #page form p:first-child + p, 
		body.admin #page form p:first-child + p + p, 
		body.admin #page form p:first-child + p + p + p {
			float: left;
			width: 30%;
		}

			body.admin #page form p:first-child + p input, 
			body.admin #page form p:first-child + p + p + p input {
				width: 80%;
			}

		body.admin #page form p:first-child + p + p + p + p {
			clear: left;
		}

				/* Meta keywords */
				body.admin #page form p label input[name=meta_keywords] {
					width: 90%;
				}