body {
	background: #060606 url(gfx/gradient-border.png) no-repeat 50% -2px;
	color: #aaa;
}

#wrapper h1, 
#wrapper h2, 
#wrapper h3, 
#wrapper h4, 
#wrapper h5, 
#wrapper h6 {
	font-family: Arial, sans-serif;
	color: #f2f2f2;
}

	#wrapper h1 a, 
	#wrapper h2 a, 
	#wrapper h3 a, 
	#wrapper h4 a, 
	#wrapper h5 a, 
	#wrapper h6 a {
		color: #f2f2f2;
	}

#wrapper h2 {
	margin-top: 0;
	font-weight: bold;
	font-size: 32px;
	line-height: 1;
}

/* #wrapper h2:first-letter {
	font-size: 36px;
} */

a {
	color: #06c;
}

$rating-and-reviews {
	margin: 0;
	position: relative;
	overflow: hidden;
}

	$rating-and-reviews img {
		position: absolute;
		left: -3px;
		top: -2px;
	}

	$rating-and-reviews a {
		display: block;
		min-height: 20px;
	}

	$rating-and-reviews img + a {
		background: url(gfx/icons.png) no-repeat left top;

		float: right;
		width: 20px;
		height: 18px;
		min-height: 0;
		padding: 2px 0 0;

		line-height: 1;
		color: #aaa;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
	}

	$rating-and-reviews img + a:hover {
		background-position: left -20px;
		color: #fff;
	}

$nice-img {
	border: 5px solid #333;
}

$img-large {
	border: 5px solid #333;
}

$white-box {
	background: #000;
	border: 1px solid #333;
}

$small {
	font-size: 10px;
}

	$small a {
		color: #666;
		text-decoration: none;
	}

	$small a:hover {
		color: #aaa;
		text-decoration: none;
	}

$black-box {
	background-color: #000;

	padding: 5px 10px;

	border: 1px solid #333;
}

$black-box-link {
	display: block;
	outline: 0;
	text-decoration: none;
}

$black-box-selected {
	background-color: #333;
	color: #f2f2f2;
}

#wrapper small = $small;

#intro-content {
	background: #020202;
	clear: both;
	padding: 30px 0;
	border: 1px solid #333;
	border-width: 1px 0;
}

#primary-content {
	background: url(gfx/gradient-border.png) no-repeat 50% -2px;
	padding: 30px 0 0;
	clear: both;
	width: auto;
	float: none;
}

	#primary-content div.markItUp, 
	#intro-content div.markItUp {
		width: 630px;
	}

		#primary-content div.markItUp textarea.markItUpEditor, 
		#intro-content div.markItUp textarea.markItUpEditor {
			width: 577px;
		}

#footer {
	border-top: 1px solid #333;
}
