#site {
	margin: 0 0 30px;
}

	#site p:first-child = $nice-img;
	#site p:first-child {
		line-height: 1;
	}
	body.js-enabled #site p:first-child {
		height: 300px;
		overflow: hidden;
	}

	body.js-enabled #site p:first-child.full {
		height: auto;
		overflow: visible;
	}

		#site p:first-child a {
		
		}

			#site p:first-child a img {
				width: 950px;
				display: block;
			}

	#site p.full-thumb-toggler = $small;
	#site p.full-thumb-toggler {
		text-align: center;
	}

		#site p.full-thumb-toggler a = $black-box;
		#site p.full-thumb-toggler a = $black-box-link;

	#site p:first-child.full + p.full-thumb-toggler a = $black-box-selected;
