#navigation {
	position: absolute;
	right: 0;
	top: 70px;
	z-index: 1;
}

	#navigation ul = $self-clear;
	#navigation ul {
		list-style: none;
		margin: 0;
	}

		#navigation ul li {
			background: url(gfx/stick-vertical.gif) repeat-y 50% top;
			float: left;
			margin: 0 20px 0 0;
			padding: 0 0 30px; /* Height of "sticks" */
		}


		#navigation ul li:last-child {
			margin-right: 0;
		}

			#navigation ul li a {
				background: url(gfx/texture-content.jpg);

				display: block;
				padding: 5px 10px;
				position: relative;

				font: 16px "BEBAS", Helvetica;
				color: #616c5a;
				text-decoration: none;
				text-transform: uppercase;
				outline: 0;

				-moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, .6);
				-webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, .6);
				box-shadow: 4px 4px 4px rgba(0, 0, 0, .6);

				-moz-transform: rotate(3deg);
				-webkit-transform: rotate(3deg);
				transform: rotate(3deg);
			}

			#navigation ul li a[href="/archives/"] {
				-moz-transform: rotate(-4deg);
				-webkit-transform: rotate(-4deg);
				transform: rotate(-4deg);
			}

			#navigation ul li a[href="/gallery/"] {
				-moz-transform: rotate(-4deg);
				-webkit-transform: rotate(-4deg);
				transform: rotate(-4deg);
				margin-top: -3px;
			}

			#navigation ul li a[href="/about/"] {
				-moz-transform: rotate(3deg);
				-webkit-transform: rotate(3deg);
				transform: rotate(3deg);
			}

			#navigation ul li a:after {
				content: '.';
			}

			#navigation ul li a:hover {
				color: #8c00a0;
			}

				/* Bird */
				#navigation ul li a span {
					background: url(gfx/bird.png) no-repeat;

					display: block;
					width: 30px;
					height: 31px;

					position: absolute;
					left: 32px;
					top: -29px;
					bottom: auto;
					
					z-index: 0;
				}


				#navigation ul li:last-child a span {
					display: none;
				}
				
				#navigation ul li:first-child a span {
					display: none;
				}

			/* Selected */
			#navigation ul li strong {
				
			}

				#navigation ul li strong a {
					color: #8c00a0;
					text-decoration: underline;
				}