/* Big Gradient Box */
$big-gradient-box {
	background: url(gfx/big-gradient-box-bottom.gif) no-repeat left bottom;
	padding: 60px 60px 40px;
	display: block;
	min-height: 340px;

	_zoom: 1;
}

	$big-gradient-box-head {
		background: url(gfx/big-gradient-box-top.gif) no-repeat left top;
		padding: 60px 60px 15px;
		margin: -60px -60px 0;

		_width: 821px;
	}

/* Medium Border Box */
$medium-border-box {
	background: url(gfx/medium-border-box-bottom.gif) no-repeat left bottom;
	margin: 0 0 30px;
	padding: 30px 20px;
	display: block;
}

	$medium-border-box-head {
		background: url(gfx/medium-border-box-top.gif) no-repeat left top;
		color: #099;
		font-size: 26px;
		margin: -30px -20px 15px;
		padding: 30px 20px 0;
		display: block;
	}

/* Intro Box */
$intro-box {
	background: url(gfx/intro-box-bg-1.jpg);
	clear: both;
	position: relative;
	height: 309px;
	margin: 0 0 20px;
	padding: 150px 50px 0;
	color: #fff;
	display: block;

	_zoom: 1;
}

	$intro-box h2 {
		font-size: 48px;
		color: #fff;
		margin: 0;
		text-shadow: 1px 1px 1px #000;
	}

	$intro-box p.h2p {
		font-size: 24px;
		font-weight: bold;
		margin: 0 0 10px;
		text-shadow: 1px 1px 1px #000;
	}

	$intro-box ul {
		list-style: none;
		margin-left: 10px;
	}

/* Tiny Rounded Box */
$tiny-rounded-box {
	background: url(gfx/tiny-rounded-box-bottom.gif) no-repeat left bottom;
	list-style: none;
	display: block;
}

$tiny-rounded-box-narrow {
	background-image: url(gfx/tiny-rounded-box-bottom-narrow.gif);
}

$tiny-rounded-box-hover {
	background-image: url(gfx/tiny-rounded-box-bottom-hover.gif);
}

$tiny-rounded-box-hover-alt {
	background-image: url(gfx/tiny-rounded-box-bottom-hover.gif);
}

$tiny-rounded-box-hover-alt-narrow {
	background-image: url(gfx/tiny-rounded-box-bottom-hover-alt-narrow.gif);
}

	$tiny-rounded-box-inner {
		background: url(gfx/tiny-rounded-box-top.gif) no-repeat left top;
		padding: 8px 7px;
		display: block;
		list-style: none;
	}

	$tiny-rounded-box-inner-narrow {
		background-image: url(gfx/tiny-rounded-box-top-narrow.gif);
	}

	$tiny-rounded-box-inner-hover {
		background-image: url(gfx/tiny-rounded-box-top-hover.gif);
		font-weight: bold;
	}

	$tiny-rounded-box-inner-hover-alt {
		background-image: url(gfx/tiny-rounded-box-top-hover.gif);
		font-weight: bold;
	}

	$tiny-rounded-box-inner-hover-alt-narrow {
		background-image: url(gfx/tiny-rounded-box-top-hover-alt-narrow.gif);
		font-weight: bold;
	}

/* Listing */
$listing {
	margin: 0;
	list-style: none;
}

	$listing li {
		margin: 0 0 10px;
		padding: 0 0 10px;
		border-bottom: 1px solid #bbb;
	}

	$listing li:last-child, 
	$listing li.last-child {
		margin: 0;
		padding: 0;
		border: 0;
	}

/* Fancy List */
$fancy-list {
	
}

	$fancy-list h2 {
		padding: 0 8px;
	}

	$fancy-list ul {
		margin: 0;
		list-style: none;
	}

		$fancy-list ul li {
			background: url(gfx/border.gif) no-repeat left bottom;
			padding: 3px 1px 6px;
		}

		$fancy-list ul li.last-child {
			background: none;
		}

			$fancy-list ul li a {
				display: block;
				padding: 4px 7px;
			}

				$fancy-list ul li a img {
					margin-left: 3px;
				}

			$fancy-list ul li a:hover {
				background: #f63;
				color: #fff;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				-o-border-radius: 3px;
				-ms-border-radius: 3px;
				border-radius: 3px;
			}

				$fancy-list ul li a:hover img {
					visibility: hidden;
				}

/* Arrow List */
$highlighted-list {
	list-style: none;
	margin-left: 10px;
	margin-bottom: 30px;
	margin-top: 15px;
}

	$highlighted-list li {
		background: url(gfx/arrow-right-orange.png) no-repeat left 50%;
		padding-left: 12px;
	}

/* Buttons */
$button-small {
	background: url(gfx/button-small.png);
	display: block;
	width: 66px;
	height: 17px;
	padding: 5px 0 0 3px;
	font-weight: bold;
	font-size: 12px;
	line-height: 1;
	color: #333;
	text-shadow: 1px 1px 1px #eee;
}

$button-small-open {
	background-image: url(gfx/button-small-open.png);
}

$button {
	background: url(gfx/buttons.png) no-repeat left -151px;
	display: block;
	width: 164px;
	height: 28px;
	padding: 11px 0 0 15px;
	font-weight: bold;
	font-size: 18px;
	line-height: 1;
	color: #333;
	text-shadow: 1px 1px 1px #eee;
}

$button-small-txt {
	font-size: 13px;
	padding-top: 12px;
	height: 27px;
}

	$button-dark-light {
		background-position: left -1px;
		color: #eee;
		text-shadow: 1px 1px 1px #333;
	}

	$button-dark-dark {
		background-position: left -51px;
		color: #eee;
		text-shadow: 1px 1px 1px #333;
	}

	$button-light-dark {
		background-position: left -151px;
	}

	$button-light-light {
		background-position: left -101px;
	}

	$button-orange-orange {
		background-position: left -201px;
		color: #eee;
		text-shadow: 1px 1px 1px #333;
	}

	$button-red-red {
		background-position: left -251px;
		color: #eee;
		text-shadow: 1px 1px 1px #333;
	}

	$button-blue-blue {
		background-position: left -301px;
		color: #eee;
		text-shadow: 1px 1px 1px #333;
	}

$button-medium {
	background-image: url(gfx/button-medium.png);
	display: block;
	width: 135px;
	height: 25px;
	padding: 8px 0 0 15px;
	font-weight: bold;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	text-shadow: 1px 1px 1px #333;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	$button-small {
		padding-top: 4px;
		height: 18px;
	}

	$button {
		padding-top: 10px;
		height: 29px;
	}

	$button-medium {
		padding-top: 7px;
		height: 26px;
	}
}
