.todo {
	outline: 1px dotted red;
}

a.button = $button;
a.dark = $button-dark-light;
a.dark-dark = $button-dark-dark;
a.light = $button-light-dark;
a.light-light = $button-light-light;
a.orange = $button-orange-orange;
a.red = $button-red-red;
a.blue = $button-blue-blue;

a.button-medium = $button-medium;

a.button-small = $button-small;

ul.hl = $highlighted-list;

body {
	background: #fff;

	margin: 0;
	padding: 0;

	font: 12px/1.2 Helvetica, Arial, sans-serif;
	color: #666;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	margin: 15px 0 5px;
	font: bold 24px/1.1 Helvetica, Arial, sans-serif;
	color: #111;
}

h2 {
	font-size: 24px;
	letter-spacing: -1px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

p {
	margin: 0 0 10px;
	line-height: 1.5;
}

ul, 
ol {
	margin: 0 0 10px 30px;
	padding: 0;
}

form {
	margin: 0;
	padding: 0;
}

	form img {
		vertical-align: top;
		margin-left: 5px;
	}

	form .default-value {
		font-style: italic;
		color: #999;
	}

	form p label strong:first-child {
		color: red;
	}

label {
	cursor: pointer;
}

input, 
select, 
textarea {
	font: 12px/1.2 Verdana, sans-serif;
}

input[type="text"], 
textarea, 
input[type="password"] {
	padding: 4px;
	border: 1px solid #06c;
	max-height: 400px;
}

input[type="text"]:focus, 
textarea:focus, 
input[type="password"]:focus {
	background: #ffe;
	border-color: #f90;
}

input[type="submit"] {
	cursor: pointer;
}

address {
	font-style: normal;
}

a {
	color: #f63;
	text-decoration: none;
}

a:hover {

}

/* a:visited {
	color: purple;
} */

	a img {
		border: 0;
	}

img {
	vertical-align: middle;
}

small {
	font-size: 11px;
	color: #666;
}
