body {
	background: #fff;
	font: 100%/1.4 Helvetica, Arial, sans-serif;
	color: #000;
	margin: 3% 5%;
}

#navigation, 
#login, 
#twitter-feed, 
#breadcrumbs, 
#social-navigation, 
#secondary-content, 
#bottom-inner div, 
#cta-box, 
#quick-contact p.last-child {
	display: none;
}

#bottom-inner #quick-contact {
	display: block;
}
