#quick-contact {
	
}

	#quick-contact h2 {
		padding: 0 8px;
	}

	#quick-contact address {
		background: url(gfx/border.gif) no-repeat left bottom;
	}

		#quick-contact address p {
			font-style: normal;
			margin: 0;
			padding: 6px 8px 4px;
		}

			#quick-contact address p strong {
				background: url(gfx/border.gif) no-repeat left bottom;
				display: block;
				margin: 0 -8px 5px;
				padding: 0 8px 7px;
				font-weight: normal;
			}

			#quick-contact address p br.strongbr {
				display: none;
			}

			@media screen and (-webkit-min-device-pixel-ratio: 0) {
				#quick-contact address p {
					padding-bottom: 5px;
				}

					#quick-contact address p strong {
						padding-bottom: 8px;
					}
			}

	#quick-contact p.last-child {
		padding-top: 6px;
	}

		#quick-contact p.last-child a = $button-small;
		#quick-contact p.last-child a {
			float: right;
		}
