#social-navigation {
	float: right;
	padding: 0 7px;
}

	#social-navigation ul = $self-clear;
	#social-navigation ul {
		margin: 0;
		list-style: none;

		_display: inline;
	}

		#social-navigation ul li {
			width: 54px;
			float: left;
		}

			#social-navigation ul li a {
				background: url(gfx/social-icons.gif) no-repeat left top;
				display: block;
				height: 47px;
				text-indent: -1000000px;
				outline: 0;
			}

			#social-navigation ul li a:hover {
				background-position: left -47px;
			}

			#social-navigation ul li.twitter a {
				background-position: left top;
			}

			#social-navigation ul li.twitter a:hover {
				background-position: left -47px;
			}

			#social-navigation ul li.facebook a {
				background-position: left -94px;
			}

			#social-navigation ul li.facebook a:hover {
				background-position: left -141px;
			}

			#social-navigation ul li.rss a {
				background-position: left -188px;
			}

			#social-navigation ul li.rss a:hover {
				background-position: left -235px;
			}
