#footer = $small;
#footer = $self-clear;
#footer {
	padding: 15px 0;
	clear: both;
}

	#footer ul = $pipe-menu;
	#footer ul {
		float: right;
		margin: 0;
	}

	#footer p {
		float: left;
		margin: 0;
	}
