#post-comment {
	
}

	#post-comment form {
		
	}

		#post-comment form p {
			
		}

			#post-comment form p input[type=text] {
				width: 255px;
			}

		#post-comment form p:first-child + p {
			margin: 0 30px 0 0;
		}

		#post-comment form p:first-child + p, 
		#post-comment form p:first-child + p + p {
			float: left;
			width: 300px;
		}

		#post-comment form p:first-child + p + p + p {
			clear: left;
		}
