div.imgzoom {
	line-height: 0;
	font-size: 0;

	z-index: 10;

	border: 5px solid #fff;

	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

	div.imgzoom a {
		background: url(gfx/imgzoom-close.png) no-repeat;
		_background: none;
		_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/css/gfx/imgzoom-close.png', sizingMethod=scale);

		display: block;
		width: 44px;
		height: 45px;

		position: absolute;
		left: -22px;
		top: -22px;

		text-decoration: none;
		text-indent: -100000px;
		outline: 0;

		z-index: 11;
	}

	div.imgzoom a:hover {
		background-position: left -45px;
	}

	div.imgzoom img {
		width: 100%;
	}

	div.imgzoom p {
		display: none;
		font-size: 12px;
	}