body.controller-admin div.aframework-module {
	float: none !important;
	position: static !important;

	margin: 0 0 10px !important;
	padding: 5px 10px !important;

	border: 1px solid rgba(220, 240, 255, .2) !important;
	-moz-border-radius: 10px !important;
}

body.controller-admin div.aframework-module.ui-sortable-helper {
	position: absolute !important;
}

body.controller-admin div.aframework-module:hover {
	border-color: rgba(220, 240, 255, .8) !important;
}

	body.controller-admin div.aframework-module div.aframework-module-header {
		background: rgba(50, 100, 150, .2) !important;

		position: relative !important;
		margin: -5px -10px 5px !important;
		padding: 5px 10px !important;

		color: #fff !important;
		cursor: move !important;
		text-transform: none !important;
		font: 12px/1.2 Arial, sans-serif;

		border-bottom: 1px solid rgba(220, 240, 255, .2) !important;
		-moz-border-radius: 10px 10px 0 0 !important;
	}

	body.controller-admin div.aframework-module:hover div.aframework-module-header {
		background: rgba(50, 100, 150, .8) !important;
		border-color: rgba(220, 240, 255, .8) !important;
	}

		body.controller-admin div.aframework-module div.aframework-module-header a {
			position: absolute !important;
			right: 10px !important;
			color: #fff !important;
		}
