body.controller-admin {
	margin-bottom: 150px;
}

/* The controller admin bar */
#controller-admin {
	background: url(gfx/bar.png) repeat-x;

	position: fixed;
	left: 0;
	bottom: 0;

	width: 100%;
}

body.controller-admin #controller-admin {
	background-position: left 15px;
	padding: 27px 10px 10px;
}

	#controller-admin p {
		background: url(gfx/button.png);

		width: 80px;

		margin: 0 0 0 -40px;

		position: absolute;
		left: 50%;
		top: -15px;
	}

	body.controller-admin #controller-admin p {
		top: 0;
	}

		#controller-admin p a {
			display: block;
			height: 17px;

			text-decoration: none;
			text-indent: -10000px;
			outline: 0;
		}

	#controller-admin ul = $self-clear;
	#controller-admin ul {
		margin: 0;
		list-style: none;
		width: 10000px;
	}

		#controller-admin ul li {
			float: left;
			width: 80px;
			text-align: center;
			font-size: 11px;
		}

	/*	#controller-admin ul li {
			background: #fff;

			width: 60px;
			height: 40px;

			margin: 5px;
			padding: 5px;

			line-height: 60px;

			border: 1px solid #666;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		} */

			#controller-admin ul li img {
				display: block;
				width: 60px;
				margin: 0 auto 5px;
			}

			#controller-admin ul li br {
				display: none;
			}

/* Draggable modules that are currently in use */
body.controller-admin div.aframework-module {
	float: none !important;
	position: static !important;

	margin: 0 0 10px !important;
	padding: 5px 10px !important;

	border: 1px solid rgba(220, 240, 255, .2) !important;
	-moz-border-radius: 10px !important;
}

body.controller-admin div.aframework-module.ui-sortable-helper {
	position: absolute !important;
}

body.controller-admin div.aframework-module:hover {
	border-color: rgba(220, 240, 255, .8) !important;
}

	body.controller-admin div.aframework-module div.aframework-module-header {
		background: rgba(50, 100, 150, .2) !important;

		position: relative !important;
		margin: -5px -10px 5px !important;
		padding: 5px 10px !important;

		color: #fff !important;
		cursor: move !important;
		text-transform: none !important;
		font: 12px/1.2 Arial, sans-serif;

		border-bottom: 1px solid rgba(220, 240, 255, .2) !important;
		-moz-border-radius: 10px 10px 0 0 !important;
	}

	body.controller-admin div.aframework-module:hover div.aframework-module-header {
		background: rgba(50, 100, 150, .8) !important;
		border-color: rgba(220, 240, 255, .8) !important;
	}

		body.controller-admin div.aframework-module div.aframework-module-header a {
			position: absolute !important;
			right: 10px !important;
			color: #fff !important;
		}
