#random-links ul {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

	#random-links ul li {
		position: relative;
		padding: 0 0 0 30px;
	}

		#random-links ul li img {
			position: absolute;
			left: 0;
			top: 3px;
			max-width: 25px;
		}

	body.admin #random-links ul li {
		padding-right: 25px;
	}

		body.admin #random-links ul li a[href^="?blog_roll_delete"] {
			background: url(common_gfx/icons/delete.png) no-repeat;

			display: block;
			width: 32px;
			height: 32px;

			text-decoration: none;
			text-indent: -10000px;
			outline: 0;

			position: absolute;
			right: 0;
			top: 0;
		}