/***
@title: aFramework Default Style
@author: Andreas Lagerkvist
@date: 2010-01-01
***/
body {
	background: #fed;

	margin: 0;
	padding: 0;

	font: 100%/1.4 Verdana, sans-serif;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font: bold 200%/1.2 Helvetica, Arial, serif;
	letter-spacing: -2px;
	margin: 10px 0 0;
}

h2 {
	font-size: 180%;
}

h3 {
	font-size: 160%;
}

h4 {
	font-size: 160%;
}

h5 {
	font-size: 140%;
}

h6 {
	font-size: 120%;
}

p {
	margin: 0 0 10px;
}

ul, ol {
	margin: 0 0 10px 30px;
	padding: 0;
}

a = $underlined;

a {
	color: #963;
}

#wrapper {
	background: #fafafa;

	position: relative;
	width: 880px;

	margin: 60px auto;
	padding: 0 40px;

	border: 1px solid #333;
	-moz-border-radius: 80px;
}

#primary-content {
	width: 560px;
	padding: 40px 40px 40px 0;
	float: left;
}

#secondary-content {
	width: 240px;
	padding: 40px 0 40px 40px;
	font-size: 80%;
	float: right;
}

#secondary-content + * {
	clear: both;
}

#tertiary-content = $self-clear;
#tertiary-content {
	font-size: 80%;
	padding: 40px 0;
}

	#tertiary-content > div {
		width: 33%;
		float: left;
	}
