body {
	background: #eee;

	margin: 0;
	padding: 0;

	font: 100%/1.4 Verdana, sans-serif;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font: bold 200%/1.2 Helvetica, Arial, serif;
	letter-spacing: -2px;
	margin: 10px 0 0;
}

h2 {
	font-size: 180%;
}

h3 {
	font-size: 160%;
}

h4 {
	font-size: 160%;
}

h5 {
	font-size: 140%;
}

h6 {
	font-size: 120%;
}

p {
	margin: 0 0 10px;
}

ul, ol {
	margin: 0 0 10px 30px;
	padding: 0;
}

a = $underlined;

a {
	color: #06c;
}

#wrapper {
	background: #fafafa;

	position: relative;
	width: 760px;

	margin: 60px auto;
	padding: 100px;

	border: 1px solid #333;
	-moz-border-radius: 80px;
}

#primary-content {
	width: 500px;
	padding: 30px 0 0;
	float: left;
}

#secondary-content {
	width: 230px;
	padding: 30px 0 0;
	float: right;
}

#secondary-content + * {
	clear: both;
}
