#navigation {
	border-top: 1px solid #88846b;
	border-bottom: 1px solid #e8e6d7;
}

	#navigation ul {
		border-top: 1px solid #e8e6d7;
		border-bottom: 1px solid #88846b;
	}

		#navigation ul li a {
			background: transparent;
			text-shadow: none;
			-webkit-text-shadow: none;
			font-family: "Base 02";
			color: #4e492b;
		}

		#navigation ul li strong, 
		#navigation ul li strong a, 
		#navigation ul li a:hover {
			border-color: #600;
			color: #600;
		}
