/***
@title: Bug Tracker
@author: Andreas Lagerkvist
@date: 2010-03-20
@extends: basic-960
***/
html {
	background: #f2f2f2;
}

body {	
	background-color: #f2f2f2;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #e0e0e0, #f2f2f2);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f2f2f2), color-stop(1, #e0e0e0));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#f2f2f2');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#f2f2f2')";
}

#wrapper {
	background: url(gfx/top-light.png) no-repeat left top;
	padding: 60px 0 0;
}

#primary-content {
	padding-top: 30px;
	width: auto;
	float: none;
}

#header {
	text-align: center;
}

	#header h1 {
		float: none;
	}

	#header p = $a11y-hide;

#footer {
	background: none;
}
