#tasks {
	min-height: 400px;
}

	#tasks h2 {
		background-position: left -1428px !important;
		float: left;
	}

	#tasks h2 + p, 
	#tasks h2 + p + p {
		float: right;
		margin: 20px 0 0 15px;
	}

		#tasks h2 + p a, 
		#tasks h2 + p + p a {
			font-weight: bold;
			padding: 12px 0 12px 29px;
			background: url(common_gfx/icons/green.png) no-repeat left -775px;
		}

	#tasks h2 + p + p + * {
		clear: both;
	}

	#tasks > p:last-child = $first-p;
	#tasks > p:last-child {
		clear: both;
		float: none;
		margin: 0;
	}

	#tasks h3 {
		background: #666 url(common_gfx/icons/gray.png) no-repeat 15px -1426px;

		margin: 15px 0 -1px;
		padding: 10px 30px 11px 44px;

		clear: both;
		float: left;
		position: relative;

		font-size: 16px;
		color: #eee;
		letter-spacing: 0;

		-moz-border-radius: 5px 5px 0 0;
		-webkit-border-radius: 5px 5px 0 0;
		border-radius: 5px 5px 0 0;
	}

	#tasks h3 + * {
		clear: left;
	}

	#tasks table {
		width: 100%;
		margin: 0 0 30px;

		clear: left;
		color: #333;
		font-size: 80%;

		border-spacing: 0;
	}

		#tasks table tr {
		
		}

		body.js-enabled #tasks table tr {
			cursor: pointer;
		}

			#tasks table tr th, 
			#tasks table tr td {
				background-color: #666;
				background-repeat: repeat-x;
				background-image: -moz-linear-gradient(top, #666, #111);
				background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111), color-stop(1, #666));

				padding: 10px 15px;

				color: #eee;
				text-align: center;
				vertical-align: middle;
				white-space: nowrap;

				border-bottom: 1px solid #ccc;
				border-top: 1px solid #fff;
			}

			#tasks table tr th {
				 border: 0;
			}

			#tasks table tr th.headerSortUp::after {
				content: url(common_gfx/icons/arrow-desc-white.gif);
			}

			#tasks table tr th.headerSortDown::after {
				content: url(common_gfx/icons/arrow-asc-white.gif);
			}

			#tasks table tr th:last-child {
				-moz-border-radius: 0 5px 0 0;
				-webkit-border-radius: 0 5px 0 0;
				border-radius: 0 5px 0 0;
			}

			#tasks table tr:not(:hover) td {
				background-color: #f2f2f2;
				background-repeat: repeat-x;
				background-image: -moz-linear-gradient(top, #e0e0e0, #f2f2f2);
				background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f2f2f2), color-stop(1, #e0e0e0));
				color: inherit;
			}

			#tasks table tr.done:not(:hover) td {
				color: #999;
			}

				#tasks table tr td a {
					font-weight: bold;
					padding: 12px 0 12px 29px;
					background: url(common_gfx/icons/yellow.png) no-repeat left -1426px;
				}

				#tasks table.urgent tr td a {
					background-image: url(common_gfx/icons/red.png);
				}

				#tasks table.must-have tr td a {
					background-image: url(common_gfx/icons/yellow.png);
				}

				#tasks table.ideas tr td a {
					background-image: url(common_gfx/icons/blue.png);
				}

				#tasks table tr.done td a {
					background: url(common_gfx/icons/green.png) no-repeat left -3748px;
				}

				body.js-enabled #tasks table tr td a {
					color: inherit;
					text-decoration: none;
				}

			#tasks table tr th:first-child, 
			#tasks table tr th:first-child + th + th, 
			#tasks table tr td:first-child, 
			#tasks table tr td:first-child + td + td {
				text-align: left;
			}

			#tasks table tr td:first-child + td {
				font-weight: bold;
			}

			#tasks table tr td:first-child + td + td {
				white-space: normal;
				font-style: italic;
				color: #666;
			}

			#tasks table tr:hover td:first-child + td + td {
				color: #999;
			}
