#tasks {
	
}

	#tasks h2 {
		float: left;
	}

	#tasks p {
		float: right;
		margin: 20px 0 0 15px;
	}

	#tasks table {
		clear: both;
		margin: 15px 0;
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
	}

		#tasks table tr {
		
		}

		body.js-enabled #tasks table tr {
			cursor: pointer;
		}

			#tasks table tr th, 
			#tasks table tr td {
				background: #111;

				padding: 10px 15px;

				color: #aaa;
				text-align: center;
				font-weight: normal;
				vertical-align: middle;
				white-space: nowrap;

				border: 1px solid #ddd;
			}

			#tasks table tr th {
				
			}

			#tasks table tr td {
				background: #f9f9f9;
				color: inherit;
			}

			#tasks table tr:nth-child(odd) td {
				background: #f2f2f2;
			}

			#tasks table tr:hover td {
				background: #f0f6fc;
			}

			#tasks table tr th:first-child, 
			#tasks table tr th:first-child + th, 
			#tasks table tr td:first-child, 
			#tasks table tr td:first-child + td {
				text-align: left;
			}

				#tasks table tr td a {
					padding: 12px 0 12px 29px;
					background: url(common_gfx/icons/red.png) no-repeat left -1423px;
				}

				body.js-enabled #tasks table tr td a {
					color: inherit;
					text-decoration: none;
				}

			#tasks table tr td:first-child + td {
				white-space: normal;
			}

		#tasks table tr.done {
			opacity: .5;
		}

				#tasks table tr.done td a {
					background: url(common_gfx/icons/green.png) no-repeat left -3745px;
				}

		body.js-enabled #tasks table tr.done {
			opacity: 1;
		}
