#quick-about {
}
	
	#quick-about h2 + p = $first-p;
	
/*	#quick-about > p img = $rotating-hover-img;
	#quick-about:hover > p img = $rotating-hover-img-hover; */
	#quick-about > p img {
		float: right;
		margin: 0 0 0 30px;
	}
	
	#quick-about > ul:last-child = $self-clear;
	#quick-about > ul:last-child {
		margin: 30px -10px 0 -10px;
		list-style: none;
	}
		
		#quick-about > ul:last-child li = $cta-box;
		#quick-about > ul:last-child li {
			float: left;
			width: 98px;
			margin: 0 10px;
		}
		
		body.js-enabled #quick-about > ul:last-child li {
			cursor: pointer;
		}