$icon { background-image: url(gfx/icons/all.png); background-repeat: no-repeat; padding: 10px 0 10px 27px; }
$icon-delete { background-position: 0 -30px; } 
$icon-tag { background-position: -4px -91px; padding-left: 32px; } 
$icon-refresh2 { background-position: -7px -153px; } 
$icon-rss2 { background-position: 0 -216px; } 
$icon-info { background-position: 0 -278px; } 
$icon-add { background-position: 0 -340px; } 
$icon-previous { background-position: -7px -400px; } 
$icon-next { background-position: -7px -462px; } 
$icon-next-right { background-position: right -462px; padding-right: 34px; padding-left: 0; } 
$icon-pub-date { background-position: -7px -526px; } 
$icon-comment { background-position: -6px -586px; padding-left: 32px; } 
$icon-rss { background-position: 0 -650px; } 
$icon-refresh { background-position: 0 -712px; } 
$icon-warning { background-position: 0 -773px; padding-left: 35px; } 