#article {
}

	#article h2 + p small = $pub-date;

	#article h2 + p + p = $first-p;

		#article > p img = $img-large;

		#article h2 + p + p img = $img-small;

	body:not(.admin) #article strong {
		color: #999;
	}

	#home-page #article > p:last-of-type a = $icon;
	#home-page #article > p:last-of-type a {
		background-image: url(gfx/icons/yellow.png);
		background-position: left -3587px;
	}

	#article > dl:last-child = $small;
	#article > dl:last-child {
		margin-top: 20px;
		padding-top: 20px;

		border-top: 1px dotted #333;
	}

		#article > dl:last-child dt = $icon;
		#article > dl:last-child dt {
			background-position: left -1754px;
			display: inline;
			margin: 0 0 0 20px;
		}

		#article > dl:last-child dt:first-child {
			background-position: left -2348px;
			margin-left: 0;
		}

		#article > dl:last-child dt:after {
			content: ": ";
		}

		#article > dl:last-child dd {
			display: inline;
			margin: 0;
		}

			#article > dl:last-child dd ul {
				display: inline;
				margin: 0;
				list-style: none;
			}

				#article > dl:last-child dd ul li {
					display: inline;
				}

				#article > dl:last-child dd ul li:after {
					content: ", ";
				}

				#article > dl:last-child dd ul li:last-child:after {
					content: "";
				}
