#article-images {
	width: 960px;
}

	#article-images h2 {
		
	}

	#article-images ol {
		margin: 0 -30px 0 0;
		list-style: none;
	}

		#article-images ol li {
			width: 290px;
			margin: 0 30px 0 0;
			display: inline-block;
			vertical-align: top;
		}

			#article-images ol li h3 {
				
			}

			#article-images ol li > a {
		
			}

				#article-images ol li a img = $nice-img;
				#article-images ol li a img {
					width: 290px;
				}

			#article-images ol li p {
		
			}
