div#breadcrumbs = $small;
div#breadcrumbs {
	position: absolute;
	left: 0;
	top: 130px;
}

	#breadcrumbs p {
		margin: 0;
	}

		#breadcrumbs strong {
			background: transparent;
			color: inherit;
			font-weight: normal;
		}