#footer = $small;
div#footer {
	text-align: center;
	text-transform: uppercase;
	padding-top: 70px;
}

	#footer ul = $pipe-menu;
	#footer ul, 
	#footer p {
		margin: 0 0 5px;
	}

		#footer p small {
			font-size: 8px;
		}
