div#header {
	background: url(gfx/gradient-border.png) no-repeat left bottom;

	margin: 0 0 -245px;
	padding: 30px 15px 260px;

	height: 92px;
}

	#header h1 {
		width: 270px;

		margin: 0;

		position: relative;
		z-index: 2;
	}

		#header h1 a = $img-replace;
		#header h1 a {
			background: url(gfx/logo.png) no-repeat left 50%;
			display: block;
			height: 72px;
		}

	#header p = $small;
	#header p {
		width: 300px;

		margin: -15px 0 0 81px;

		position: relative;
		z-index: 1;
	}