#quick-about = $self-clear;
#quick-about {

}

	#quick-about a img {
		width: 100px;
		float: right;
		margin: 0 0 10px 10px;
	}

	#quick-about textarea {
		width: 280px;
		height: 350px;
	}

	#quick-about p:last-child a = $icon;
	#quick-about p:last-child a {
		background-image: url(gfx/icons/green.png);
		background-position: left -3587px;
	}
