#tag-cloud {
	
}

	#tag-cloud ul = $inline-menu;
	#tag-cloud ul {
		text-align: center;
	}

		#tag-cloud ul li {
			margin: 0 5px;
			vertical-align: middle;
		}

			body.js-enabled #tag-cloud ul li strong = $a11y-hide;