#articles {
	
}

	#articles > ul {
		margin: 0;
		list-style: none;
	}

		#articles > ul > li = $separated;

			#articles > ul > li img = $pretty-image;
			#articles > ul > li img {
				float: right;
			}

			#articles > ul > li > p:last-child {
				font-weight: bold;
				clear: both;
			}
