/* 16 */
$icon-16 { background-image: url(gfx/icons/16.png); background-repeat: no-repeat; padding: 10px 0 10px 27px; }

$icon-attention-16 { background-position: 0 -30px; } 
$icon-backward-16 { background-position: 0 -76px; } 
$icon-base-16 { background-position: 0 -122px; } 
$icon-blog-16 { background-position: 0 -168px; } 
$icon-female-16 { background-position: 0 -214px; } 
$icon-foward-16 { background-position: 0 -260px; } 
$icon-group-16 { background-position: 0 -306px; } 
$icon-heart-16 { background-position: 0 -352px; } 
$icon-listen-16 { background-position: 0 -398px; } 
$icon-male-16 { background-position: 0 -444px; } 
$icon-offline-16 { background-position: 0 -490px; } 
$icon-online-16 { background-position: 0 -536px; } 
$icon-options-16 { background-position: 0 -582px; } 
$icon-pause-16 { background-position: 0 -628px; } 
$icon-photo-16 { background-position: 0 -674px; } 
$icon-play-16 { background-position: 0 -720px; } 
$icon-record-16 { background-position: 0 -766px; } 
$icon-shoppingcart-16 { background-position: 0 -812px; } 
$icon-star-16 { background-position: 0 -858px; } 
$icon-stop-16 { background-position: 0 -904px; } 
$icon-stopplay-16 { background-position: 0 -950px; } 
$icon-tag-16 { background-position: 0 -996px; } 
$icon-toend-16 { background-position: 0 -1042px; } 
$icon-tostart-16 { background-position: 0 -1088px; } 
$icon-vote-no-16 { background-position: 0 -1134px; } 
$icon-vote-yes-16 { background-position: 0 -1180px; } 

/* 24 */
$icon-24 { background-image: url(gfx/icons/24.png); background-repeat: no-repeat; padding: 10px 0 10px 32px; }

$icon-add-2-24 { background-position: 0 -30px; } 
$icon-add-24 { background-position: 0 -84px; } 
$icon-arrow-down-2-24 { background-position: 0 -138px; } 
$icon-arrow-down-24 { background-position: 0 -192px; } 
$icon-arrow-left-2-24 { background-position: 0 -246px; } 
$icon-arrow-left-24 { background-position: 0 -300px; } 
$icon-arrow-right-2-24 { background-position: 0 -354px; } 
$icon-arrow-right-24 { background-position: -1px -401px; } 
$icon-arrow-right-3-24 { background-position: -1px -454px; } 
$icon-arrow-right-4-24 { background-position: -1px -508px; } 
$icon-arrow-right-5-24 { background-position: -1px -563px; } 
$icon-arrow-up-2-24 { background-position: 0 -624px; } 
$icon-arrow-up-24 { background-position: 0 -678px; } 
$icon-box-empty-24 { background-position: 0 -732px; } 
$icon-box-full-24 { background-position: 0 -786px; } 
$icon-calendar-24 { background-position: 0 -840px; } 
$icon-cart-2-24 { background-position: 0 -894px; } 
$icon-cart-24 { background-position: 0 -948px; } 
$icon-cart-3-24 { background-position: 0 -1002px; } 
$icon-check-24 { background-position: 0 -1056px; } 
$icon-circle-empty-24 { background-position: 0 -1110px; } 
$icon-circle-full-24 { background-position: 0 -1164px; } 
$icon-comment-24 { background-position: 0 -1211px; } 
$icon-delete-2-24 { background-position: 0 -1272px; } 
$icon-delete-24 { background-position: 0 -1326px; } 
$icon-delete-3-24 { background-position: 0 -1380px; } 
$icon-delete-4-24 { background-position: 0 -1434px; } 
$icon-dir-24 { background-position: 0 -1488px; } 
$icon-download-2-24 { background-position: 0 -1533px; } 
$icon-download-24 { background-position: 0 -1596px; } 
$icon-download-3-24 { background-position: 0 -1650px; } 
$icon-heart-24 { background-position: left -1696px; } 
$icon-hmm-24 { background-position: 0 -1758px; } 
$icon-home-24 { background-position: 0 -1812px; } 
$icon-key-24 { background-position: 0 -1866px; } 
$icon-lock-24 { background-position: 0 -1920px; } 
$icon-mail-2-24 { background-position: 0 -1974px; } 
$icon-mail-24 { background-position: 0 -2028px; } 
$icon-pen-24 { background-position: 0 -2082px; } 
$icon-reload-24 { background-position: 0 -2136px; } 
$icon-rss-2-24 { background-position: 0 -2190px; } 
$icon-rss-24 { background-position: 0 -2244px; } 
$icon-rss-3-24 { background-position: 0 -2298px; } 
$icon-star-24 { background-position: 0 -2352px; } 
$icon-star-empty-24 { background-position: 0 -2406px; } 
$icon-star-half-24 { background-position: 0 -2460px; } 
$icon-tag-2-24 { background-position: 0 -2514px; } 
$icon-tag-24 { background-position: 0 -2562px; } 
$icon-tag-3-24 { background-position: 0 -2622px; } 
$icon-thumbs-down-24 { background-position: 0 -2676px; } 
$icon-thumbs-up-24 { background-position: 0 -2730px; } 
$icon-trash-24 { background-position: 0 -2784px; } 
$icon-user-2-24 { background-position: 0 -2838px; } 
$icon-user-24 { background-position: 0 -2892px; } 
$icon-user-3-24 { background-position: 0 -2946px; } 
$icon-users-24 { background-position: 0 -3000px; } 
$icon-warning-2-24 { background-position: 0 -3054px; } 
$icon-warning-24 { background-position: 0 -3104px; } 
$icon-zoom-2-24 { background-position: 0 -3162px; } 
$icon-zoom-24 { background-position: 0 -3216px; } 

/* 32 */
$icon-32 { background-image: url(gfx/icons/32.png); background-repeat: no-repeat; padding: 10px 0 10px 27px; }

$icon-add-32 { background-position: -7px -30px; } 
$icon-arrow-left-32 { background-position: -7px -90px; } 
$icon-arrow-right-32 { background-position: -7px -151px; } 
$icon-arrow-right-r-32 { background-position: right -151px; padding-left: 0; padding-right: 34px; } 
$icon-calendar-32 { background-position: -7px -216px; } 
$icon-comment-32 { background-position: -7px -278px; } 
$icon-delete-32 { background-position: -7px -340px; } 
$icon-info-32 { background-position: -7px -402px; } 
$icon-refresh-2-32 { background-position: -7px -462px; } 
$icon-refresh-32 { background-position: -7px -526px; } 
$icon-rss-2-32 { background-position: -7px -588px; } 
$icon-rss-32 { background-position: -7px -650px; } 
$icon-tag-32 { background-position: -7px -712px; } 

/* 48 */
$icon-48 { background-image: url(gfx/icons/48.png); background-repeat: no-repeat; padding: 10px 0 10px 27px; }

$icon-add-2-48 { background-position: 0 -30px; } 
$icon-add-3-48 { background-position: 0 -108px; } 
$icon-add-48 { background-position: 0 -186px; } 
$icon-add-box-48 { background-position: 0 -264px; } 
$icon-add-cart-48 { background-position: 0 -342px; } 
$icon-add-document-48 { background-position: 0 -420px; } 
$icon-add-email-48 { background-position: 0 -498px; } 
$icon-add-heart-48 { background-position: 0 -576px; } 
$icon-add-money-48 { background-position: 0 -654px; } 
$icon-add-stack-48 { background-position: 0 -732px; } 
$icon-add-truck-48 { background-position: 0 -810px; } 
$icon-adding-cart-48 { background-position: 0 -888px; } 
$icon-arrow-down-2-48 { background-position: 0 -966px; } 
$icon-arrow-down-48 { background-position: 0 -1044px; } 
$icon-arrow-left-2-48 { background-position: 0 -1122px; } 
$icon-arrow-left-48 { background-position: 0 -1200px; } 
$icon-arrow-right-2-48 { background-position: 0 -1278px; } 
$icon-arrow-right-48 { background-position: 0 -1356px; } 
$icon-arrow-up-2-48 { background-position: 0 -1434px; } 
$icon-arrow-up-48 { background-position: 0 -1512px; } 
$icon-box-48 { background-position: 0 -1590px; } 
$icon-briefcase-48 { background-position: 0 -1668px; } 
$icon-brush-2-48 { background-position: 0 -1746px; } 
$icon-brush-48 { background-position: 0 -1824px; } 
$icon-camera-48 { background-position: 0 -1902px; } 
$icon-cart-48 { background-position: 0 -1980px; } 
$icon-clipboard-1-48 { background-position: 0 -2058px; } 
$icon-clipboard-48 { background-position: 0 -2136px; } 
$icon-clipboard-empty-48 { background-position: 0 -2214px; } 
$icon-clipboard-pen-48 { background-position: 0 -2292px; } 
$icon-clock-2-48 { background-position: 0 -2370px; } 
$icon-clock-48 { background-position: 0 -2448px; } 
$icon-closed-book-48 { background-position: 0 -2526px; } 
$icon-delete-2-48 { background-position: 0 -2604px; } 
$icon-delete-3-48 { background-position: 0 -2682px; } 
$icon-delete-4-48 { background-position: 0 -2760px; } 
$icon-delete-48 { background-position: 0 -2838px; } 
$icon-delete-5-48 { background-position: 0 -2916px; } 
$icon-delete-6-48 { background-position: 0 -2994px; } 
$icon-delete-box-48 { background-position: 0 -3072px; } 
$icon-delete-cart-48 { background-position: 0 -3150px; } 
$icon-delete-document-48 { background-position: 0 -3228px; } 
$icon-delete-email-48 { background-position: 0 -3306px; } 
$icon-delete-stack-48 { background-position: 0 -3384px; } 
$icon-dir-48 { background-position: 0 -3462px; } 
$icon-disk-48 { background-position: 0 -3540px; } 
$icon-document-48 { background-position: 0 -3618px; } 
$icon-documents-48 { background-position: 0 -3696px; } 
$icon-download-48 { background-position: 0 -3774px; } 
$icon-download-box-48 { background-position: 0 -3852px; } 
$icon-email-48 { background-position: 0 -3930px; } 
$icon-email-at-48 { background-position: 0 -4008px; } 
$icon-empty-button-48 { background-position: 0 -4086px; } 
$icon-empty-document-48 { background-position: 0 -4164px; } 
$icon-empty-polygon-2-48 { background-position: 0 -4242px; } 
$icon-empty-polygon-3-48 { background-position: 0 -4320px; } 
$icon-empty-polygon-48 { background-position: 0 -4398px; } 
$icon-erm-48 { background-position: 0 -4476px; } 
$icon-fast-forward-48 { background-position: 0 -4554px; } 
$icon-flag-48 { background-position: 0 -4632px; } 
$icon-gift-48 { background-position: 0 -4710px; } 
$icon-graph-48 { background-position: 0 -4788px; } 
$icon-heart-48 { background-position: 0 -4866px; } 
$icon-home-48 { background-position: 0 -4944px; } 
$icon-info-48 { background-position: 0 -5022px; } 
$icon-keyboard-key-48 { background-position: 0 -5100px; } 
$icon-lock-48 { background-position: 0 -5178px; } 
$icon-locked-user-48 { background-position: 0 -5256px; } 
$icon-market-crash-48 { background-position: 0 -5334px; } 
$icon-market-up-48 { background-position: 0 -5412px; } 
$icon-minus-48 { background-position: 0 -5490px; } 
$icon-money-2-48 { background-position: 0 -5568px; } 
$icon-money-48 { background-position: 0 -5646px; } 
$icon-money-letter-48 { background-position: 0 -5724px; } 
$icon-money-truck-48 { background-position: 0 -5802px; } 
$icon-monitor-48 { background-position: 0 -5880px; } 
$icon-move-stack-48 { background-position: 0 -5958px; } 
$icon-movies-48 { background-position: 0 -6036px; } 
$icon-music-48 { background-position: 0 -6114px; } 
$icon-notebook-48 { background-position: 0 -6192px; } 
$icon-notebook-closed-48 { background-position: 0 -6270px; } 
$icon-paint-48 { background-position: 0 -6348px; } 
$icon-paint-photos-48 { background-position: 0 -6426px; } 
$icon-paperclip-48 { background-position: 0 -6504px; } 
$icon-pause-48 { background-position: 0 -6582px; } 
$icon-pen-2-48 { background-position: 0 -6660px; } 
$icon-pen-48 { background-position: 0 -6738px; } 
$icon-pen-n-paper-48 { background-position: 0 -6816px; } 
$icon-pen-n-ruler-48 { background-position: 0 -6894px; } 
$icon-photo-2-48 { background-position: 0 -6972px; } 
$icon-photo-48 { background-position: 0 -7050px; } 
$icon-photos-48 { background-position: 0 -7128px; } 
$icon-play-2-48 { background-position: 0 -7206px; } 
$icon-play-48 { background-position: 0 -7284px; } 
$icon-play-back-48 { background-position: 0 -7362px; } 
$icon-previous-48 { background-position: 0 -7440px; } 
$icon-reload-48 { background-position: 0 -7518px; } 
$icon-reload-left-48 { background-position: 0 -7596px; } 
$icon-reload-right-48 { background-position: 0 -7674px; } 
$icon-remove-48 { background-position: 0 -7752px; } 
$icon-remove-heart-48 { background-position: 0 -7830px; } 
$icon-remove-stack-48 { background-position: 0 -7908px; } 
$icon-rewind-48 { background-position: 0 -7986px; } 
$icon-ruler-48 { background-position: 0 -8064px; } 
$icon-sale-tag-48 { background-position: 0 -8142px; } 
$icon-scissors-48 { background-position: 0 -8220px; } 
$icon-search-2-48 { background-position: 0 -8298px; } 
$icon-search-48 { background-position: 0 -8376px; } 
$icon-search-photos-48 { background-position: 0 -8454px; } 
$icon-send-email-2-48 { background-position: 0 -8532px; } 
$icon-send-email-48 { background-position: 0 -8610px; } 
$icon-speaker-48 { background-position: 0 -8688px; } 
$icon-star-48 { background-position: 0 -8766px; } 
$icon-tag-2-48 { background-position: 0 -8844px; } 
$icon-tag-3-48 { background-position: 0 -8922px; } 
$icon-tag-48 { background-position: 0 -9000px; } 
$icon-truck-48 { background-position: 0 -9078px; } 
$icon-unlock-48 { background-position: 0 -9156px; } 
$icon-unlocked-user-48 { background-position: 0 -9234px; } 
$icon-upload-box-48 { background-position: 0 -9312px; } 
$icon-user-48 { background-position: 0 -9390px; } 
$icon-users-48 { background-position: 0 -9468px; } 
$icon-volume-down-48 { background-position: 0 -9546px; } 
$icon-volume-off-48 { background-position: 0 -9624px; } 
$icon-volume-up-48 { background-position: 0 -9702px; } 
$icon-warning-48 { background-position: 0 -9780px; } 
$icon-whiteboard-48 { background-position: 0 -9858px; } 
$icon-whiteboard-welcome-48 { background-position: 0 -9936px; } 
$icon-write-user-48 { background-position: 0 -10014px; } 
$icon-zoom-in-48 { background-position: 0 -10092px; } 
$icon-zoom-out-48 { background-position: 0 -10170px; } 
