#breadcrumbs = $small;
#breadcrumbs {
	background: url(gfx/breadcrumbs.png) no-repeat 25px 10px;

	padding-left: 90px !important;

	position: absolute;
	left: 0;
	top: 100px;
}

	#breadcrumbs p {
		margin: 0;
		visibility: hidden;
	}

	#breadcrumbs:hover p {
		visibility: visible;
	}

		#breadcrumbs strong {
			background: transparent;
			color: inherit;
			font-weight: normal;
		}