#comments = $primary-content;
#comments {
	clear: both;
	float: left;
}

	#comments h3 = $main-heading;

	#comments ol = $plain-list;
	#comments ol {
		
	}

		#comments ol li = $box;
		#comments ol li {
			padding-left: 130px;
			width: 380px;
			position: relative;
		}

			#comments ol li h4 {
				margin-top: 10px;
			}

			#comments ol li h4 + p small = $pub-date;

				#comments ol li h4 img {
					position: absolute;
					left: 20px;
					top: 20px;
					border: 5px solid #fff;
				}