#footer = $small;
#footer {
	clear: both;
	text-align: center;
	text-transform: uppercase;
}

	#footer ul = $pipe-menu;
	#footer ul, 
	#footer p {
		margin: 0 0 5px;
	}

		#footer p small {
			font-size: 11px;
		}