#post-comment {
	width: 290px;
	margin-right: -320px;
	float: right;
}

	#post-comment h3 = $main-heading;

	#post-comment form {
		
	}

		#post-comment form p {
			position: relative;
			padding: 5px 0 0 0;
		}

			#post-comment form p label {
				
			}

				#post-comment form p label strong {
					position: absolute;
					left: -15px;
					top: 7px;
				}

				#post-comment form p label br {
					display: none;
				}

				#post-comment form p label input, 
				#post-comment form p label textarea {
					
				}

				#post-comment form p label input[type=text] {
					position: absolute;
					right: 0;
					top: 0;
					width: 160px;
				}

				#post-comment form p label img {
					position: absolute;
					right: -15px;
					top: -4px;
				}

				#post-comment form p label textarea {
					width: 280px;
					height: 120px;
				}

				#post-comment form p label textarea + img {
					top: 16px;
				}
