#random-links = $tertiary-content;

	#random-links p a = $icon;
	#random-links p a {
		background-position: left -4019px;
	}

	#random-links ul li {
		margin: 0 0 10px;
	}

		#random-links ul li a {
			font-weight: bold;
		}