button[title^="Remove module "] {
	opacity: .6;
	cursor: pointer;
}

button[title^="Remove module "]:hover {
	opacity: 1;
}

div.droppable-over {
	background: #def !important;
	outline: 5px dashed #369 !important;
}

div.module-listing-used-module {
	border: 1px solid #369;
	padding: 10px;
	margin: 10px 0;
}

#module-listing {
	background: #fff;

	min-width: 300px;
	max-width: 400px;

	margin: 10px;
	padding: 10px;

	position: absolute;
	right: 0;
	top: 0;

	font-size: 80%;

	border: 1px solid #333;
}

body.js-disabled #module-listing {
	position: fixed;
	right: 0;
	top: 0;

	max-height: 550px;
	min-width: 350px;
	max-width: 500px;

	overflow-y: auto;
	overflow-x: hidden;
}

	#module-listing h2 {
		background: #333;

		margin: -10px -10px 10px -10px;
		padding: 5px 10px;

		color: #fff;
	}

	body.js-enabled #module-listing h2, 
	body.js-enabled #module-listing h3 {
		cursor: move;
	}

	#module-listing div, 
	div.module-listing-ghost-module {
		background: #fff;

		margin: 0 0 10px;
		padding: 10px;

		border: 1px solid #369;
	}

	div.module-listing-ghost-module {
		opacity: .5;
	}

	body.js-enabled #module-listing div.in-use {
		display: none;
	}

		#module-listing div h3, 
		div.module-listing-ghost-module h2 {
			background: #369;

			margin: -10px -10px 10px -10px;
			padding: 5px 10px;

			color: #fff;
		}

		#module-listing div.in-use h3 {
			color: #000;
		}