#random-article-images ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

	#random-article-images ul li {
		width: 30%;
		margin-right: 5%;
		display: inline-block;
	}

	#random-article-images ul li:nth-child(3n) {
		margin-right: 0;
	}

		#random-article-images ul li a {
			display: block;
			border: 2px solid #fff;
		}

			#random-article-images ul li a img {
				display: block;
				width: 100%;
				border: 0;
			}
