#activities {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;

	width: 330px;

	padding: 10px;
	margin: -20px 0 0 -20px;
	font-size: 13px;

	-moz-box-shadow: 0 0 10px rgba(0, 50, 100, .6);
	-webkit-box-shadow: 0 0 10px rgba(0, 50, 100, .4);
	box-shadow: 0 0 10px rgba(0, 30, 30, .4);

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

	#activities h2 = $base-font;
	#activities h3 = $base-font;

	#activities h2, 
	#activities h3 {
		font-weight: bold;
		margin: 5px 0;
	}

	#activities h3 {
		font-size: 14px;
	}

	#activities ol = $plain-list;

		#activities ol li {
			padding: 0 0 5px;
			margin: 0 0 5px;
			border-bottom: 1px dashed #ccc;
		}

			#activities ol li > * {
				display: inline;
				margin: 0 5px 0 0;
			}

			#activities ol li h3 {
				color: #999;
				font-size: 13px;
			}

		#activities ol li:last-child {
			padding: 0;
			margin: 0;
			border: 0;
		}

	#activities textarea {
		width: 320px;
	}

#activity-calendar = $white-shadowed-box;
#activity-calendar {
	position: relative;
}

	#activity-calendar h2 {
		margin: 0 0 15px;
	}

	#activity-calendar table {
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
	}

		#activity-calendar table th, 
		#activity-calendar table td {
			padding: 2px 5px;
			border: 1px solid #ccc;
			text-align: center;
			position: relative;
		}

		#activity-calendar table th:first-child, 
		#activity-calendar table td:first-child {
			color: red;
		}

			#activity-calendar td a {
				display: block;
				padding: 2px 5px;
				margin: -2px -5px;
			}

			#activity-calendar table td a.insert {
				color: inherit;
				text-decoration: none;
				position: relative;
			}

				#activity-calendar table td a.insert small {
					position: absolute;
					right: 1px;
					top: 0;
					display: none;
					color: red;
				}

				#activity-calendar table td a.insert:hover small {
					display: inline;
				}

	#activity-calendar ul = $previous-next-menu;
	#activity-calendar ul {
		margin: 10px 0 0;
	}

	#activity-calendar form {
		
	}

		#activity-calendar form p {
		
		}

			#activity-calendar form p label {
		
			}

				#activity-calendar form p label br {
		
				}

				#activity-calendar form p label input {
		
				}

				#activity-calendar form p label textarea {
					width: 260px;
				}
