#latest-comic = $white-shadowed-box;
#latest-comic {
	position: relative;
}

	#latest-comic h2 = $a11y-hide;

	#latest-comic h2 + p {
		margin: 0;
		font-style: italic;
	}

		#latest-comic h2 + p a {
			color: inherit;
		}

			#latest-comic p a img {
				width: 280px;
				display: block;
				margin: 0 0 20px;
			}

		#latest-comic p br {
			display: none;
		}

		#latest-comic p br + a {
			
		}

	#latest-comic > p:last-of-type {
		margin: 0;
		position: absolute;
		right: 20px;
		bottom: 20px;
	}
