html {
	background: url(gfx/old-paper.png);
}

body {
	background: url(gfx/stains.png);
}

#wrapper {
	background: url(gfx/top-light.png) no-repeat left top;
}

#tertiary-content {
	background: #222 url(gfx/bottom-shadow.gif) repeat-x;
	border-color: #111;
}

#footer {
	background: #222;
}

$stain-box {
	background: url(gfx/stain-box.png) no-repeat -10px -10px;
	padding: 15px;
}
