/***
@title: aFramework Grunge Style
@author: Alexander Agnarson
@date: 2010-01-01
***/
body::before {
	content: "Under Construction";
	display: block;
	text-align: center;
	font-size: 400%;
	font-weight: bold;
	text-transform: uppercase;
}
