#################################################################
# A little rewriting
# If you don't have access to mod_rewrite change 
# the USE_MOD_REWRITE-setting in aFramework/Bootstrap.php
#################################################################
<IfModule mod_rewrite.c>
	# Start ModRewrite
	RewriteEngine On
	RewriteBase /af/

	# Prevent access for visitors without user-agent string (prevents some spam)
	# RewriteCond %{HTTP_USER_AGENT} = ""
	# RewriteRule .* - [F,L]

	# Prevent www-access (you should change the yourdomain-bit)
	RewriteCond %{HTTP_HOST} ^www\.andreaslagerkvist\.com$ [NC]
	RewriteRule ^(.*)$ http://andreaslagerkvist\.com/$1 [R=301,L]

	# Force a trailing slash for dirs
	RewriteRule !\..{2,4}$ - [C]
	RewriteCond %{REQUEST_URI} !^.*/$
	RewriteRule ^(.+)$ $1/ [R=301,L]

	# Run images suffixed wiv _small through Thumb-generator
	# RewriteRule ^(.*)_small\.(jp(e)?g|png|gif)$ ?module=Img&img=$1.$2&%{QUERY_STRING} [L,NC]

	# Run CSS and JS-"files" in root through the code compressor
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^([^/]*)/([^/]*)\.(css|js)$ ?module=CodeCompressor&s=$2&t=$3&%{QUERY_STRING} [L,NC]

	# Redirect /index.php to /
	RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*index\.php
	RewriteRule ^index.php/?(.*)$ $1 [R=301,L]

	# Run everything else but real files through index.php
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php/$1?%{QUERY_STRING} [L]
</IfModule>

#################################################################
# These are for performance and they increase
# speed a fookin lot (try yslow wiv and wivout)
#################################################################
# Configure ETags
FileETag MTime Size

# Enable Expirations
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 3 days"
</IfModule>

# Gzip HTML, CSS and JS
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/css application/x-javascript text/plain text/xml
</IfModule>