#activity-calendar {
	
}

	#activity-calendar h2 {
		
	}

	#activity-calendar table {
		width: 100%;
		border-spacing: 0;
	}

		#activity-calendar th:first-child, 
		#activity-calendar td:first-child {
			color: #900;
		}

		#activity-calendar th, 
		#activity-calendar td {
			text-align: center;
		}

	#activity-calendar ul = $previous-next-menu;
	#activity-calendar ul {
		margin: 10px 0 0;
	}

	#activity-calendar textarea {
		width: 90%;
		height: 40px;
	}
