$white-shadowed-box {
	background: #FDFEFF;
	margin: 0 0 30px;
	padding: 30px 20px 20px;

	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

$white-round-box {
	background: #fdfeff;

	padding: 15px 10px;

	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

$tab {
	background: #9ce;

	display: block;
	padding: 5px 10px;

	text-transform: uppercase;
	text-decoration: none;
	text-align: right;
	outline: 0;

	border: 1px solid #1795d0;
	border-width: 1px 1px 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

$tab:hover {
	background: #1795d0;
	color: #fdfeff;
}

$tab.selected {
	background: #1795d0;
	color: #fdfeff;
}
