#article {

}

	#article h2 {
		margin-bottom: 0;
	}

	#article h2 + p small = $small;

	body:not(#home-page) #article h2 + p + p = $first-p;
	body:not(#home-page) #article h2 + p + h3 + p = $first-p;

	#article ul = $pretty-list;
	#article ol = $pretty-list;

	#home-page #article > p:last-of-type {
		font-weight: bold;
		clear: both;
	}

	#article img = $pretty-image;
	#article img {
		float: right;
		margin: 0 0 15px 15px;
	}

	#article > dl:last-child = $small;
	#article > dl:last-child = $inline-definition;
	#article > dl:last-child {
		clear: both;
	}

		#article > dl:last-child ul = $comma-list;
		#article > dl:last-child ul {
			display: inline;
			margin: 0;
		}
