#header = $self-clear;
#header {
	padding: 20px 0 0;
}

	#header h1 {
		background: url(gfx/logo.png) no-repeat;
		width: 231px;
		margin: 0 15px 0 0;
		float: left;
	}

	#header h1:hover {
		background-position: left -88px;
	}

		#header h1 a {
			display: block;
			height: 88px;

			text-indent: -10000px;
			text-decoration: none;
			outline: 0;
		}

	#header p {
		margin: 40px 0 0;
		width: 350px;
		font-style: italic;
		float: left;
		color: #15739f;
	}
