#partners {
	
}

	#partners h2 = $a11y-hide;

	#partners ul = $floated-list;
	#partners ul {
		margin: 0;
	}

		#partners ul li {
			width: 25%;
			margin: 0 0 10px;
			height: 80px;
			line-height: 80px;
			text-align: center;
		}
