/* On Project-PageS */
#project-page-page #project-list ul = $self-clear;
#project-page-page #project-list ul {
	margin: 0;
	list-style: none;
	border-bottom: 5px solid #1795d0;
}

	#project-page-page #project-list ul li {
		float: left;
		margin: 0 15px 0 0;
	}

		#project-page-page #project-list ul li a = $small;
		#project-page-page #project-list ul li a = $tab;

/* On the "Projects-Page" */
#projects-page-page #project-list ul = $self-clear;
#projects-page-page #project-list ul {
	margin: 0;
	list-style: none;
}

	#projects-page-page #project-list ul li {
		margin: 0 0 10px;
	}

		#projects-page-page #project-list ul li a = $white-round-box;
		#projects-page-page #project-list ul li a {
			background: #FDFEFF url(gfx/icons/heart.png) no-repeat 9px 10px;

			display: block;
			position: relative;

			padding-left: 50px;

			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
		}

		#projects-page-page #project-list ul li a:hover {
			background-color: #1795d0;
			color: #fdfeff;
		}

		#projects-page-page #project-list ul li.project-8 a {
			background-image: url(gfx/icons/people.png);
			background-position: 9px 7px;
		}

		#projects-page-page #project-list ul li.project-9 a {
			background-image: url(gfx/icons/heart.png);
			background-position: 9px 14px;
		}

		#projects-page-page #project-list ul li.project-10 a {
			background-image: url(gfx/icons/network.png);
		}

		#projects-page-page #project-list ul li.project-11 a {
			background-image: url(gfx/icons/house.png);
		}
