#sponsors {

}

	#sponsors h2 = $a11y-hide;

	#sponsors ul = $floated-list;

		#sponsors ul li:last-child {
			float: right;
		}

			#sponsors ul li a {
				opacity: 1;
			}

			#sponsors ul li a:hover {
				opacity: 1;
			}
