#contact-persons {
	
}

	#contact-persons h3 {
		
	}

	#contact-persons ul = $plain-list;

		#contact-persons ul li {
			position: relative;
			margin: 0 0 30px;
			padding: 0 0 0 170px;
			min-height: 260px;
		}

			#contact-persons ul li h4 {
				margin-left: -170px;
			}

			#contact-persons ul li h5 {
				margin-bottom: 0;
			}

			#contact-persons ul li p {
				font-style: italic;
			}

			#contact-persons ul li img = $pretty-image;
			#contact-persons ul li img {
				width: 120px;
				position: absolute;
				left: 0;
				top: 35px;
			}

			#contact-persons ul li dl = $data-definition;
