#social-bookmarks ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

	#social-bookmarks ul li {
		display: inline;
		margin-right: 5px;
	}

		#social-bookmarks ul li img {
			border: 0;
		}