#register-navigation {
	font-size: 10px;
	text-align: center;
	margin: 0 0 30px;
}

	#register-navigation * {
		display: inline;
	}

	#register-navigation ul {
		margin: 0;
		list-style: none;
	}

		#register-navigation ul li {
			margin: 0 10px;
		}

			#register-navigation ul li a {
				text-transform: uppercase;
				color: #999;
			}

			#register-navigation ul li a:hover {
				color: #333;
			}
