#register = $big-gradient-box;
#register {
	clear: both;
	margin: 0 0 10px;
}

	/* Intro text bit */
	#register #page = $big-gradient-box-head;
	#register #page {
		
	}

		#register #page h2 {
			margin: 0;
			font-size: 26px;
			color: #333;
		}

			#register #page h2 span {
				color: #099;
			}

			#register.recruit #page h2 span {
				color: #f63;
			}

		#register #page p {
			margin: 0;
			font-size: 12px;
		}

	/* The actual sign-up form */
	#register-form {
		
	}

		#register-form form = $self-clear;
		#register-form form {
			
		}

			#register-form form div.first {
				width: 49%;
				float: left;
			}

			#register-form form div.last {
				width: 50%;
				float: right;
			}

				#register-form form div p = $self-clear;
				#register-form form div p {
					line-height: 1;
				}

					/* Validation icons */
					#register-form form div p img {
						margin: 6px 0 0 10px;
					}

					#register-form form div p span.label, 
					#register-form form div p strong.req, 
					#register-form form div p span.field, 
					#register-form form div p span.fields {
						display: block;
						float: left;
					}

					#register-form form div p span.label {
						width: 110px;
						margin: 6px 0 0 0;
						font-weight: bold;
					}

						#register-form form div p span.label small {
							font-weight: normal;
						}

					#register-form form div p strong.req {
						color: #f63;
						font-weight: normal;
						margin: 9px 10px 0 0;
					}

					#register-form form div p span.field {
						background: url(gfx/form-field.gif) no-repeat;
						width: 246px;
						width: 265px; /* to fit validation icons */
						height: 26px;
						padding: 2px;
					}

						#register-form form div p span.field input {
							background: #fff;
							border: 0;
							padding: 4px;
							width: 235px;
							font-size: 12px;
							font-weight: bold;
						}

				/* Terms of Service */
				#register-form form div p.terms {
					
				}

					#register-form form div p.terms span.label {
						width: 120px;
					}

					#register-form form div p.terms strong.req {
						visibility: hidden;
						margin-right: 0;
					}

					#register-form form div p.terms span.terms {
						background: url(gfx/terms-of-service-box.gif) no-repeat;
						display: block;
						float: left;
						width: 246px;
						height: 56px;
						padding: 2px;
						margin: 0 0 5px;
					}

						#register-form form div p span.terms textarea {
							background: #fff;
							width: 235px;
							height: 50px;
							border: 0;
							padding: 2px;
						}

					#register-form form div p.terms small.terms-info {
						clear: both;
						margin: 0 0 0 130px;
						width: 250px;
						display: block;
						font-size: 10px;
					}

			/* Submit button */
			#register-form form p.submit {
				clear: both;
				text-align: right;
				margin: 0;
				padding: 15px 30px 0 0;
			}

				#register-form form p.submit a = $button;
				#register-form form p.submit a = $button-small-txt;
				#register-form form p.submit a = $button-blue-blue;
				#register-form form p.submit a {
					float: right;
					text-align: left;
				}
