#articles {
	
}

	#articles > ul {
		margin: 0;
		list-style: none;
	}

		#articles > ul > li {
			margin: 0 0 20px;
			padding: 0 0 10px;
			border-bottom: 1px dashed #15739f;
		}

		#articles > ul > li:last-child {
			padding: 0;
			border: 0;
		}

			#articles > ul > li > p:last-child {
				font-weight: bold;
			}
