#comments {
	
}

	#comments h3 {
		
	}

	#comments > ol {
		margin-left: 0;
		list-style: none;
	}

		#comments > ol > li = $white-round-box;
		#comments > ol > li {
			margin: 0 0 20px;
		}

			#comments ol li h4 {
				margin: 10px 0 0;
			}

			#comments ol li p {

			}

				#comments ol li p small {

				}

					#comments ol li p small a {
						text-decoration: none;
					}
