#footer = $small;
#footer {
	background: url(gfx/dirt.png) repeat-x;
	overflow: hidden;
	margin: -10px 0 0;
	padding: 15px 0 10px;
}

#footer, 
#footer a {
	color: #b09c75;
}

#footer:hover, 
#footer:hover a {
	color: #fec;
}

	#footer p {
		margin: 0;
		float: left;
	}

	#footer ul = $pipe-menu;
	#footer ul {
		margin: 0;
		float: right;
	}
