#footer = $small;
#footer {
	background: #210;
	color: #850;
	overflow: hidden;
	padding: 10px 0 10px;
}

	#footer p {
		margin: 0;
		float: left;
	}

	#footer ul = $pipe-menu;
	#footer ul {
		margin: 0;
		float: right;
	}

	#footer a {
		color: #850;
	}
