#latest-comic = $white-shadowed-box;

	#latest-comic h2 = $a11y-hide;

	#latest-comic p {
		margin: 0;
		font-style: italic;
	}

		#latest-comic p a {
			color: inherit;
		}

			#latest-comic p a img {
				width: 280px;
				display: block;
				margin: 0 0 20px;
			}

		#latest-comic p br {
			display: none;
		}

		#latest-comic p br + a {
			
		}
