#wrapper {
	background: url(gfx/top-light.png) no-repeat left top;
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#primary-content {
	width: 600px;
	margin: 0 0 20px;
	padding: 0;
	float: left;
}

	#primary-content h2 {
		background-image: url(gfx/flower.gif);
		background-repeat: no-repeat;
		background-position: left 5px;
		margin-left: -35px;
		padding-left: 35px;
	}

#secondary-content {
	width: 320px;
	margin: 0 0 20px;
	padding: 0;
	float: right;
}

	#secondary-content div {
		margin: 0 0 30px;
	}

		#secondary-content h2 {
			font-size: 160%;
		}

$bottom-bar {
	background: #147;
	color: #e0edf6;
}

	$bottom-bar a {
		color: #e0edf6;
	}

#tertiary-content = $bottom-bar;
#tertiary-content {
	border-top: 10px solid #123;
	padding: 20px 0;
	clear: both;
}

	#wrapper > div, 
	#primary-content > div, 
	#secondary-content > div, 
	#tertiary-content > div {
		*padding: 10px 20px;
	}
