#wrapper {
	background: url(gfx/sun.png) no-repeat 60% 30% fixed;
	width: 960px;
	margin: 0 auto;
	position: relative;
}

body.js-enabled #wrapper {
	background-position: 60% -400px;
}

#primary-content {
	width: 600px;
	margin: 0 0 20px;
	padding: 0;
	float: left;
}

/*	#primary-content h2 {
		background-image: url(gfx/flower.gif);
		background-repeat: no-repeat;
		background-position: left 5px;
		margin-left: -35px;
		padding-left: 35px;
	} */

	#primary-content .markItUp textarea {
		width: 547px !important;
	}

#secondary-content {
	width: 320px;
	margin: 0 0 20px;
	padding: 0;
	float: right;
}

	#secondary-content div {
		margin: 0 0 30px;
	}

		#secondary-content h2 {
			font-size: 160%;
		}

	#secondary-content .markItUp textarea {
		width: 267px !important;
	}

#tertiary-content {
	background: url(gfx/grass.png) repeat-x;
	padding: 40px 0 20px;
	clear: both;
}
