/* Presentation */
#presentation-page #page > ol {
	font-weight: bold;
}

/* Organization */
#organization-page #page > p img, 
#organisation-page #page > p img {
	float: none;
	margin: 0;
	border: 0;
	width: 100%;
}

/* Our Projects */
#project-page-page #primary-content {
	position: relative;
}

/* Participating Partners */
#participating-partners-page #page > ul = $self-clear;
#deltagande-partners-page #page > ul = $self-clear;
#participating-partners-page #page > ul, 
#deltagande-partners-page #page > ul {
	margin: 0;
	list-style: none;
}

	#participating-partners-page #page > ul li, 
	#deltagande-partners-page #page > ul li {
		position: relative;
		padding: 0 0 0 80px;
		min-height: 60px;
		line-height: 50px;
		width: 30%;
		float: left;
	}

		#participating-partners-page #page > ul li img, 
		#deltagande-partners-page #page > ul li img {
			position: absolute;
			left: 0;
			top: 0;
			border: 0;
			margin: 0;
			float: none;
		}
