/* Presentation */
#presentation-page #page ol {
	font-weight: bold;
}

/* Organization */
#organization-page #page img, 
#organisation-page #page img {
	float: none;
	margin: 0;
	border: 0;
	width: 100%;
}

/* Our Projects */
#project-list ul = $self-clear;
#project-list ul {
	margin: 0;
	list-style: none;
}

	#project-list ul li {
		margin: 0 0 10px;
	}

		$white-round-box {
			background: #fdfeff;

			padding: 15px 10px;

			border: 1px solid #ccc;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
		}

		#project-list ul li a = $white-round-box;
		#project-list ul li a {
			display: block;
			position: relative;

			padding-left: 50px;

			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
		}

			#project-list ul li a img {
				position: absolute;
				left: 10px;
				top: 11px;
				border: 0;
				float: none;
				margin: 0;
			}

		#project-list ul li a:hover {
			background: #1795d0;
			color: #fdfeff;
		}

#project-page-page #primary-content {
	position: relative;
}

#project-tabs {
	background: url(gfx/tab-border.png) no-repeat right top;

	width: 99px;
	min-height: 250px;
	margin: 0;
	padding: 50px 1px 0 0;

	position: absolute;
	left: -125px;
	top: 50px;

	list-style: none;
}

	#project-tabs li = $self-clear;
	#project-tabs li {
		margin: 0 0 10px 0;
	}

		#project-tabs li a = $small;
		#project-tabs li a {
			background: #9ce;

			display: block;
			padding: 5px 10px;
			float: right;

			text-transform: uppercase;
			text-decoration: none;
			text-align: right;
			outline: 0;

			border: 1px solid #1795d0;
			border-width: 1px 0 1px 1px;
			-moz-border-radius: 5px 0 0 5px;
			-webkit-border-radius: 5px 0 0 5px;
			border-radius: 5px 0 0 5px;
		}

		#project-tabs li a:hover, 
		#project-tabs li a.selected {
			background: #1795d0;
			color: #fdfeff;
		}

/* Participating Partners */
#participating-partners-page #page ul = $self-clear;
#deltagande-partners-page #page ul = $self-clear;
#participating-partners-page #page ul, 
#deltagande-partners-page #page ul {
	margin: 0;
	list-style: none;
}

	#participating-partners-page #page ul li, 
	#deltagande-partners-page #page ul li {
		position: relative;
		padding: 0 0 0 80px;
		min-height: 60px;
		line-height: 50px;
		width: 30%;
		float: left;
	}

		#participating-partners-page #page ul li img, 
		#deltagande-partners-page #page ul li img {
			position: absolute;
			left: 0;
			top: 0;
			border: 0;
			margin: 0;
			float: none;
		}
