#recent-comments {
	
}

	#recent-comments h2 {
		
	}

	#recent-comments ol {
		
	}

		#recent-comments ol li {
		
		}

			#recent-comments ol li h3 = $base-font;
			#recent-comments ol li h3 = $link-font;
			#recent-comments ol li h3 {
				margin: 0;
			}

				#recent-comments ol li h3 a = $link-font;

				#recent-comments ol li h3 img + a {
					display: block;
					font-weight: bold;
					font-style: normal;
				}

				#recent-comments ol li h3 a {
					font-style: italic;
				}
