/***
@title: Our Life as Elderly "Open"
@author: Andreas Lagerkvist
@date: 2009-11-25 (started)
@extends: base-ole
***/
html {
	background: #e0edf6 url(gfx/sky-gradient.gif) repeat-x;
}

body {
	background: url(gfx/clouds.png) no-repeat 50% top;
}

#wrapper {
	background: url(gfx/sun.png) no-repeat 60% 30% fixed;
}

body.js-enabled #wrapper {
	background-position: 60% -400px;
}

#tertiary-content {
	background: url(gfx/grass.png) repeat-x;
	padding: 40px 0 20px;
}

#footer {
	background: url(gfx/dirt.png) repeat-x;
	margin: -10px 0 0;
	padding: 15px 0 10px;
}

#footer, 
#footer a {
	color: #b09c75;
}

#footer:hover, 
#footer:hover a {
	color: #fec;
}

/* No grass, no dirt: (+ alt-version with dark-blue bottom
body, 
#wrapper {
//	background: none;
}

#tertiary-content {
	background: #0a2c46 url(gfx/gradient.gif) repeat-x;
	background: none;
}

#footer {
	background: #0a2c46;
	background: none;
}

#footer, 
#footer a {
	color: #4c7a9d;
	color: inherit;
}

#footer:hover, 
#footer:hover a {
	color: #abc;
	color: inherit;
}
*/
