#older-articles = $3-col-listing;
#older-articles {
	padding-left: 15px;
	padding-right: 15px;
}

	#older-articles h2:after {
		content: "";
	}

	#older-articles > ol {
		overflow: hidden;
		list-style: none;
	}

		#older-articles > ol > li = $one-third-box;
		#older-articles > ol > li {
			
		}

			#older-articles ol li h3 = $main-heading;

				#older-articles ol li h3 + p small = $pub-date;

				#older-articles ol li p img, 
				#older-articles ol li object {
					display: none;
				}

				#older-articles ol li h3 + p + p img = $img-small;
				#older-articles ol li h3 + p + p img {
					width: 100px;
					display: block;
				}

			#older-articles ol li p:last-child {
				clear: right;
			}

				#older-articles ol li p:last-child a = $icon;
				#older-articles ol li p:last-child a {
					background-image: url(gfx/icons/yellow.png);
					background-position: left -3587px;
				}
