body {
	background: url(gfx/brushed-metal.png);
}

#wrapper {
	background: url(gfx/top-light.png) no-repeat left top;
}

#tertiary-content {
	background: #555 url(gfx/bottom-shadow.gif) repeat-x;
}

$glass-box {

	background: rgba(50, 100, 100, .2);
	padding: 15px;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
