#footer = $self-clear;
#footer {
	background: #464646;

	clear: both;
	padding: 20px 0;

	font-size: 70%;
	text-transform: uppercase;
	color: #a9a9a9;
}

	#footer a {
		color: #eee;
	}

	#footer p {
		float: left;
		margin: 0;
	}

	#footer ul = $pipe-menu;
	#footer ul {
		float: right;
	}
