#navigation {
	background: url(gfx/horizontal-ruler.png) repeat-x;
	margin: 0 -30px;
	padding-top: 2px;
}

	#navigation h2 = $a11y-hide;

	#navigation ul = $self-clear;
	#navigation ul {
		background: url(gfx/horizontal-ruler.png) repeat-x left bottom;
		margin: 0;
		padding-bottom: 2px;
		list-style: none;
	}

		#navigation ul li {
			float: left;
			padding: 0 30px;
		}

			#navigation ul li a {
				display: block;
				padding: 15px 0;

				color: #fff;
				text-decoration: none;
				-moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
				-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
			}

			#navigation ul li a:hover {
				border-bottom: 5px solid rgba(170, 170, 170, .5);
				padding-bottom: 10px;
			}

			#navigation ul li strong {
				display: block;
				font-weight: normal;
				border-bottom: 5px solid rgba(170, 170, 170, .5);
			}

				#navigation ul li strong a {
					padding-bottom: 10px;
				}

				#navigation ul li strong a:hover {
					border: 0;
				}
