#search {
	background: #9f9f9f;

	padding: 15px 20px;

	position: absolute;
	right: 0;
	top: 0;

	border: 1px solid #8f8f8f;
	border-top: 0;
	-moz-border-radius: 0 0 20px 20px;
}

	#search h2 = $a11y-hide;

	#search form {
		margin: 0;
	}

		#search form p {
			margin: 0;
		}

			#search form p label = $a11y-hide;

			#search form p br {
				display: none;
			}

				#search form p input {
					font-size: 80%;
				}

				#search #q {
					width: 200px;
					padding: 3px;
					border: 1px solid rgba(100, 100, 100, .5);
					-moz-border-radius: 10px;
					-webkit-border-radius: 10px;
					border-radius: 10px;
				}

				#search #q.default-value {
					font-style: normal;
					color: #666;
				}
