#aframework-download {
	
}

	#aframework-download ul {
		float: right;
		margin: 0;
		list-style: none;
	}

		#aframework-download ul li {
			float: left;
			margin-left: 15px;
		}

			#aframework-download ul li a {
				background: #06c;

				display: block;
				padding: 5px 15px;
				text-decoration: none;
				text-align: center;

				color: #fff;

				border: 3px solid #39e;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				border-radius: 5px;
			}

			#aframework-download ul li a:hover {
				background: #39e;
				border-color: #5bf;
			}

				#aframework-download ul li a strong {
					display: block;
					text-decoration: underline;
				}

				#aframework-download ul li a:hover strong {
					display: block;
					text-decoration: none;
				}

				#aframework-download ul li a br {
					display: none;
				}

				#aframework-download ul li a small {
					color: #abc;
					display: block;
				}

				#aframework-download ul li a:hover small {
					color: #036;
				}

					#aframework-download ul li a small ins {
						display: inline;
					}
