div.debug-module-highlight {
	outline: 5px dotted red;
}

#debug {
	background: #fff;

	max-width: 800px;

	margin: 10px;

	position: fixed;
	right: 0;
	top: 0;

	opacity: 1;

	border: 1px solid #333;
}

#debug.hide {
	width: auto;
	height: auto;

	opacity: .3;
}

#debug.hide:hover {
	opacity: 1;
}

	#debug-inner {
		padding: 0 20px;
		max-height: 550px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	#debug p, 
	#debug dl {
		margin: 10px 0;
	}

	/* All clickable headings */
	#debug h2, 
	#debug h3, 
	#debug h4 {
		background: #147;

		margin: 0;

		color: #fff;

		border-top: 1px solid #666;
		border-top: 1px solid #000;
	}

	#debug h3 {
		background: #26a;
		border-top: 1px solid #999;
		border-top: 1px solid #333;
	}

	#debug h4 {
		background: #69c;
		border-top: 1px solid #ccc;
		border-top: 1px solid #666;
	}

	#debug h3, 
	#debug h4 {
		margin: 0 -20px;
	}

	body.js-disabled #debug h2, 
	body.js-disabled #debug h3, 
	body.js-disabled #debug h4 {
		padding: 10px 20px;
	}

		#debug h2 a, 
		#debug h3 a, 
		#debug h4 a {
			display: block;

			padding: 10px 20px;

			color: #fff;
			text-decoration: none;
		}

		#debug h2 a:before, 
		#debug h3 a:before, 
		#debug h4 a:before {
			content: "[V] ";
		}

		/* When collapsed */
		#debug.hide h2 a:before, 
		#debug h3.hide a:before, 
		#debug li.hide h4 a:before {
			content: "[>] ";
		}

		#debug.hide #debug-inner, 
		#debug.hide h2 span, 
		#debug h3.hide + dl, 
		#debug h3.hide + ul, 
		#debug li.hide > * {
			display: none;
		}

		#debug li.hide > h4 {
			display: block;
		}

	/* Additional styling */
	#debug ul = $plain-list;

	#debug dl {
		
	}

		#debug dl dt {
			font-weight: bold;		
		}

		#debug dl dt:after {
			content: ": ";
		}

		#debug dl dd {
		
		}