#module-listing {
	background: #fff;

	min-width: 300px;
	max-width: 400px;
	max-height: 550px;

	margin: 10px;
	padding: 10px;

	position: absolute;
	right: 0;
	top: 0;

	border: 1px solid #333;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

body.js-disabled #module-listing {
	position: fixed;
	right: 0;
	top: 0;

	overflow-y: auto;
	overflow-x: hidden;
}

	#module-listing h2 {
		background: #333;

		margin: -10px -10px 10px -10px;
		padding: 5px 10px;

		color: #fff;

		-moz-border-radius: 10px 10px 0 0;
		-webkit-border-radius: 10px 10px 0 0;
		border-radius: 10px 10px 0 0;
	}

	body.js-enabled #module-listing h2, 
	body.js-enabled #module-listing h3 {
		cursor: move;
	}

	#module-listing div {
		background: #fff;

		margin: 0 0 10px;
		padding: 10px;

		border: 1px solid #369;

		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}

		#module-listing div h3 {
			background: #369;

			margin: -10px -10px 10px -10px;
			padding: 5px 10px;

			color: #fff;

			-moz-border-radius: 10px 10px 0 0;
			-webkit-border-radius: 10px 10px 0 0;
			border-radius: 10px 10px 0 0;
		}

		#module-listing div.in-use h3 {
			color: #000;
		}