/* Modules that are used and rendered on the page 
   (fucks up design a bit but is pretty much required for drag-n-drop to work properlings) */
div.module-listing-used-module {
	/*border: 1px solid #369;
	padding: 10px;
	margin: 10px 0;*/
	position: relative;
}

	div.module-listing-used-module button[title^="Remove module "] {
		position: absolute;
		left: 0;
		top: 0;

		opacity: .6;
		cursor: pointer;
	}

	div.module-listing-used-module button[title^="Remove module "]:hover {
		opacity: 1;
	}

/* When a module is to be inserted before this module */
div.module-listing-insert-module-before {
	border-top: 5px dotted #369;
	padding-top: 5px;
}

/* When a module is to be inserted into this module */
div.module-listing-append-module-to {
	outline: 5px dotted #369;
}

/* The module-listing */
#module-listing {
	background: #fff;

	min-width: 300px;
	max-width: 400px;

	margin: 10px;
	padding: 10px;

	position: absolute;
	right: 0;
	top: 0;

	font-size: 80%;

	border: 1px solid #333;
}

body.js-disabled #module-listing {
	position: fixed;
	right: 0;
	top: 0;

	max-height: 550px;
	min-width: 350px;
	max-width: 500px;

	overflow-y: auto;
	overflow-x: hidden;
}

	#module-listing h2 {
		background: #333;

		margin: -10px -10px 10px -10px;
		padding: 5px 10px;

		color: #fff;
	}

	body.js-enabled #module-listing h2, 
	body.js-enabled #module-listing h3 {
		cursor: move;
	}

	#module-listing div {
		background: #fff;

		margin: 0 0 10px;
		padding: 10px;

		border: 1px solid #369;
	}

	body.js-enabled #module-listing div.in-use {
		display: none;
	}

		#module-listing div h3 {
			background: #369;

			margin: -10px -10px 10px -10px;
			padding: 5px 10px;

			color: #fff;
		}

		#module-listing div.in-use h3 {
			color: #000;
		}