#in-page-navigation {
	position: fixed;
	left: 10px;
	top: 0;
	z-index: 1;
}

body.su #in-page-navigation {
	top: 26px;
}

	#in-page-navigation ul = $self-clear;
	#in-page-navigation ul {
		margin: 0;
		list-style: none;
	}

		#in-page-navigation ul li {
			float: left;
			margin: 0 5px 0 0;

			border: 1px solid #333;
			border-top: 0;
			-moz-border-radius: 0 0 4px 4px;
			-webkit-border-radius: 0 0 4px 4px;
			border-radius: 0 0 4px 4px;

			-moz-box-shadow: 0 0 6px rgba(40, 40, 40, .5);
			-webkit-box-shadow: 0 0 6px rgba(40, 40, 40, .5);
			box-shadow: 0 0 6px rgba(40, 40, 40, .5);
		}
	
			#in-page-navigation ul li a {
				background: #111;
				display: block;
				padding: 5px 15px;
				
				font: bold 10px/1.2 Arial, sans-serif;
				text-transform: uppercase;
				text-decoration: none;
				color: #eee;
				outline: 0;

				border: 1px solid #eee;
				border-top: 0;
				-moz-border-radius: 0 0 4px 4px;
				-webkit-border-radius: 0 0 4px 4px;
				border-radius: 0 0 4px 4px;

				-moz-transition: all 0.15s ease-out;  /* FF3.7+ */
				-o-transition: all 0.15s ease-out;  /* Opera 10.5 */
				-webkit-transition: all 0.15s ease-out;  /* Saf3.2+, Chrome */
				transition: all 0.15s ease-out;
			}

			#in-page-navigation ul li a.selected {
				padding-top: 15px;
			}