#aframework-wrapper = $self-clear;
#aframework-wrapper {
	margin: 0 -15px;
}

	/* All divs in the wrapper */
	#aframework-wrapper > div {
		width: 300px;
		float: left;
		padding: 15px;
	}

		#aframework-wrapper > div h2 {
			margin: 0 0 15px;
		}

		#aframework-wrapper > div > ul, 
		#aframework-wrapper > div > ol {
			margin: 0;
			list-style: none;
		}

			#aframework-wrapper h3, 
			#aframework-wrapper h3 {
				font: 16px/1.2 Arial;
				color: #666;
				display: block;
			}

			#aframework-wrapper h3.ui-accordion-header {
				padding: 10px 0 10px 30px;
			}

			#aframework-wrapper div.ui-accordion-content {
				font: 13px/1.2 Arial, sans-serif;
				color: #666;
				height: 150px;
				padding: 3px 15px 5px 30px;
			}

				#aframework-wrapper div.ui-accordion-content > *:last-child {
					margin-bottom: 0;
				}

	/* Reasons */
/*	#aframework-reasons h3.ui-state-default {
		background-image: url(gfx/accordion-red.png);
	}

	#aframework-reasons h2 {
		color: #a88;
	} */

	/* Features */
/*	#aframework-features h3.ui-state-default {
		background-image: url(gfx/accordion-green.png);
	}

	#aframework-features h2 {
		color: #8a8;
	} */

	/* Quick Start */
/*	#aframework-quick-start h3.ui-state-default {
		background-image: url(gfx/accordion-blue.png);
	}

	#aframework-quick-start h2 {
		color: #88a;
	} */

/* Thanks */
#aframework-thanks {
	margin: 30px 0 0 0;
	padding: 30px 150px 0;
	border-top: 1px dotted #ccc;
}

	#aframework-thanks h2 {
		text-align: center;
		margin-top: 0;
	}

	#aframework-thanks ul = $pipe-menu;
	#aframework-thanks ul {
		text-align: center;
	}
