#footer {
	clear: both;
	width: 570px;
	text-align: center;
	padding: 10px 0;
}

	#footer, 
	#footer a {
		color: #00013F;
	}

	#footer:hover {
		color: #f7f7f9;
	}

	#footer:hover a {
		color: #99ff99;
	}

	#footer ul = $pipe-menu;
	#footer ul, 
	#footer p {
		margin: 0 0 5px;
	}