#quick-about {

}

	#quick-about h2 {
		background: #000063;
		font: bold italic 16px Georgia, serif;
		padding: 2px 5px;
		float: left;
	}

		#quick-about h2, 
		#quick-about h2 a {
			color: #f7f7f9;
		}

	#quick-about h2 + * {
		clear: left;
		margin: 0;
	}

	#quick-about p img {
		float: right;
		margin: 0 0 5px 5px;
		width: 70px;
	}