#new-debug {
	background: #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#999));

	position: absolute;
	left: 0;
	top: 0;
	z-index: 50;

	width: 100%;
	opacity: .9;

	font: 12px/1 Arial, sans-serif;
	letter-spacing: normal;
	color: #000;

	border-top: 1px solid #fff;
	border-bottom: 1px solid #000;
}

	#new-debug h2 = $a11y-hide;

	#new-debug a {
		color: #000;
		font-weight: bold;
	}

	#new-debug > p {
		position: absolute;
		right: 10px;
		top: 5px;
		line-height: 1;

		margin: 0;
	}

	#new-debug > ul = $self-clear;
	#new-debug > ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

		/* First level */
		#new-debug > ul > li {
			float: left;
			position: relative;
		}

			#new-debug > ul > li h3 {
				margin: 0;
				padding: 5px 10px;
				height: 15px;

				font: bold 12px/1 Arial, sans-serif;
				letter-spacing: normal;
				color: #000;

				cursor: pointer;
			}

			body.js-disabled #new-debug > ul > li h3:hover, 
			#new-debug > ul > li h3.active {
				background-color: rgba(30, 60, 250, .8);
				color: #fff;
			}

			/* Drop Down */
			#new-debug > ul > li > ul {
				background: #f2f2f2;

				display: none;
				width: 400px;

				margin: 0;
				padding: 0;
				list-style: none;

				position: absolute;
				left: 0;
				top: 26px;

				-moz-border-radius: 0 0 5px 5px;
				-webkit-border-bottom-right-radius: 5px;
				-webkit-border-bottom-left-radius: 5px;
				border-radius: 0 0 5px 5px;

				-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
				-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
				box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
			}

			body.js-disabled #new-debug > ul > li h3:hover + ul, 
			body.js-disabled #new-debug > ul > li > ul:hover, 
			#new-debug > ul > li h3.active + ul {
				display: block;
			}

				#new-debug > ul > li > ul > li {
					position: relative;
				}

					#new-debug > ul > li > ul > li h4 {
						margin: 0;
						padding: 7px 10px;

						font: bold 12px/1 Arial, sans-serif;
						letter-spacing: normal;
						color: #000;

						cursor: pointer;
					}

					#new-debug > ul > li > ul > li h4:after {
						content: "\203A";
						float: right;
						font-weight: bold;
					}

					#new-debug > ul > li > ul > li:last-child h4 {
						-moz-border-radius: 0 0 5px 5px;
						-webkit-border-bottom-right-radius: 5px;
						-webkit-border-bottom-left-radius: 5px;
						border-radius: 0 0 5px 5px;
					}

					#new-debug > ul > li > ul > li h4:hover, 
					#new-debug > ul > li > ul > li h4.active {		
						background-color: rgba(30, 60, 250, .8);
						color: #fff;
					}

					#new-debug > ul > li > ul > li p {
						display: none;
					}

					#new-debug > ul > li > ul > li > dl = $self-clear;
					#new-debug > ul > li > ul > li > dl {
						background: #f2f2f2;

						position: absolute;
						left: 400px;
						top: 2px;

						display: none;
						width: 550px;

						-moz-border-radius: 0 5px 5px 5px;
						-webkit-border-top-right-radius: 5px;
						-webkit-border-bottom-right-radius: 5px;
						-webkit-border-bottom-left-radius: 5px;
						border-radius: 0 5px 5px 5px;

						-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
						-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
						box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
					}

						#new-debug > ul > li > ul > li > dl > dt {
							clear: both;
							float: left;
							width: 200px;

							margin: 0;
							padding: 7px 10px;

							text-align: right;
							font-weight: bold;
						}

						#new-debug > ul > li > ul > li > dl > dd {
							float: right;
							width: 310px;

							margin: 0;
							padding: 7px 10px;
						}

						#new-debug > ul > li > ul > li > dl > dt:last-of-type, 
						#new-debug > ul > li > ul > li > dl > dd:last-of-type {
							border: 0;
						}

					body.js-disabled #new-debug > ul > li > ul > li h4:hover + dl, 
					body.js-disabled #new-debug > ul > li > ul > li h4:hover + p + dl, 
					#new-debug > ul > li > ul > li h4.active + dl, 
					#new-debug > ul > li > ul > li h4.active + p + dl {
						display: block;
					}