#add-task {
	
}

	#add-task h2 {
		background: url(common_gfx/icons/green.png) no-repeat left -780px !important;
	}

	#add-task > div = $white-box;
	#add-task > div {
		width: 270px;
		float: right;
	}

		#add-task h3 {
			background: url(common_gfx/icons/yellow.png) no-repeat left -3969px;
			margin: inherit;
			padding: 0 0 0 30px;
		}

	#add-task form {
		
	}

		#add-task form {
			width: 630px;
		}

			#add-task form > p {
		
			}

				#add-task form > p input:not([type=submit]) {
					width: 300px;
				}

				#add-task form > p select {
					width: 200px;
				}

			#add-task form > p:first-child {
		
			}

				#add-task form > p:first-child input {
					font-size: 160%;
					width: 500px;
				}

			#add-task form > p:first-child + p, 
			#add-task form > p:first-child + p + p, 
			#add-task form > p:first-child + p + p + p {
				float: left;
				margin-right: 10px;
			}

			#add-task form > p:first-child + p + p + p + p {
				clear: left;
			}
